<tui-loader [inheritColor]="true" [overlay]="true" size="xxl" [showLoader]="(savingDecision | async) === true">
  <section class="w-screen h-screen sm:h-80 bg-[#808285] relative">
    <div class="absolute w-11/12 px-4 py-2 mx-3 text-center bg-white rounded-lg shadow-lg left-2 sm:left-1/4 top-32 sm:w-1/2 sm:top-1/2">
      <div class="pt-3 w-26 h-26 absolute -top-16 -translate-x-1/2 left-1/2">
        <img ngSrc="../../../../assets/depa_logo.svg" width="100" height="100"/>
      </div>
      <div class="my-16 px-4">
        <h2 class="pt-2 text-4xl tracking-widest font-semibold">Hello!</h2>
        <p class="py-4 text-lg tracking-widest">You have chosen to <span class="text-gray-600 font-semibold">{{userDecision === true ? 'Approve': 'Reject'}}</span> this step. Your decision has been saved and the workflow has been updated. You may now close this page</p>
      </div>
    </div>
  </section>
</tui-loader>