<app-header></app-header>
<section class="w-11/12 h-auto min-h-screen mx-auto mt-48">
  <ng-container *ngIf="(subModuleData | async) as data; else noData">
    <app-table-view [moduleData]="moduleData" (emitPagination)="sendPagination($event)" (emitDeleteEvent)="itemDeleted($event)" [tableData]="data" (emitPageChange)="fetchFreshData($event)"></app-table-view>
    <div class="mt-8">
      <hr>
    </div>
    <div class="my-8">
      <app-submission-table></app-submission-table>
    </div>
  </ng-container>
  <ng-template #noData>
    <app-table-loader></app-table-loader>
  </ng-template>
</section>
<app-footer></app-footer>