<div class="w-65 rounded-lg shadow-xl px-5 py-4 bg-white">
  <div class="flex justify-start space-x-3">
    <img [src]="menuIcon" width="25" height="25">
    <span class="text-[#2F3044] text-xl font-[Montserrat] font-semibold">{{menuHeader}}</span>
  </div>
  <div class="flex flex-col mt-4">
    <p class="font-semibold text-base">
      {{menuSubHeader}}
    </p>
    <ul *ngIf="showFilters == true" class="list-none">
      <li
        [ngClass]="{'active' : rla.isActive, 'inactive': !rla.isActive}"
        class="px-2 py-2 rounded-md font-semibold text-sm cursor-pointer mt-2"
      >
        <a
          #rla="routerLinkActive"
          [routerLink]="['/dashboard/appStore']"
          routerLinkActive="active"
        >
          View All
        </a>
      </li>

      <li class="px-2 py-2 rounded-md font-semibold text-sm cursor-pointer inactive">
        <a>
          Human Resources
        </a>
      </li>

      <li class="px-2 py-2 rounded-md font-semibold text-sm cursor-pointer inactive">
        <a>
          General Management
        </a>
      </li>

      <li class="px-2 py-2 rounded-md font-semibold text-sm cursor-pointer inactive">
        <a>
          Finance
        </a>
      </li>

      <li class="px-2 py-2 rounded-md font-semibold text-sm cursor-pointer inactive">
        <a>
          Marketing
        </a>
      </li>

      <li class="px-2 py-2 rounded-md font-semibold text-sm cursor-pointer inactive">
        <a>
          Sales
        </a>
      </li>

      <li class="px-2 py-2 rounded-md font-semibold text-sm cursor-pointer text-gray-400">
        <a>
          Purchase
        </a>
      </li>

      <li class="px-2 py-2 rounded-md font-semibold text-sm cursor-pointer text-gray-400">
        <a>
          Options
        </a>
      </li>

    </ul>
    
    <ng-container *ngIf="secondaryMenuItems">
      <p class="font-semibold text-base">
        {{secondarySubHeader}}
      </p>
      <ul *ngFor="let item of (secondaryMenuItems | async); let i = index" class="list-none">
        <li
          *ngIf="item.name == 'View Categories'"
          [ngClass]="{'mt-2' : i == 0, 'active' : rla.isActive, 'inactive': !rla.isActive}"
          class="px-2 py-2 rounded-md font-semibold text-sm cursor-pointer"
        >
          <a
            #rla="routerLinkActive"
            routerLinkActive="active"
          >
            {{item.name}}
          </a>
        </li>
        <li
          *ngIf="item.name == 'Add New Category'"
          [ngClass]="{'mt-2' : i == 0, 'active' : rla.isActive, 'inactive': !rla.isActive}"
          class="px-2 py-2 rounded-md font-semibold text-sm cursor-pointer">
          <a
            #rla="routerLinkActive"
            routerLinkActive="active"
          >
            {{item.name}}
          </a>
        </li>
      </ul>
    </ng-container>
    
    <ng-container *ngIf="apps">
      <p class="font-semibold text-base mt-3">
        {{secondaryMenuSubHeader}}
      </p>
      <ul *ngFor="let item of (apps | async); let i = index" class="list-none">
        <li *ngIf="item.name == 'Apps'" [ngClass]="{'mt-2' : i == 0, 'active' : rla.isActive, 'inactive': !rla.isActive}" class="px-2 py-2 rounded-md font-semibold text-sm cursor-pointer">
          <a
            #rla="routerLinkActive"
            [routerLink]="['/dashboard/appList']"
            routerLinkActive="active"
          >
            {{item.name}}
          </a>
        </li>
        <li *ngIf="item.name == 'Publish an App'" [ngClass]="{'mt-2' : i == 0, 'active' : rla.isActive, 'inactive': !rla.isActive}" class="px-2 py-2 rounded-md font-semibold text-sm cursor-pointer">
          <a
            #rla="routerLinkActive"
            [routerLink]="['/dashboard/publish-app']"
            routerLinkActive="active"
          >
            {{item.name}}
          </a>
        </li>
      </ul>
    </ng-container>
  </div>
</div>
