<app-header></app-header>
<div class="bg_img_main">
  <section class="grid grid-cols-12 gap-4 w-11/12 mx-auto mt-32 pb-20">
    <app-shared-menu class="col-span-3"></app-shared-menu>
    <div class="col-span-9 flex flex-col my-4">
      <section>
        <app-carousel [carouselName]="'Human Resources'" [appStoreData$]="appStoreApps$"></app-carousel>
      </section>
  
      <section class="my-16">
        <app-carousel [carouselName]="'Finance'" [appStoreData$]="appStoreApps$"></app-carousel>
      </section>
  
      <section>
        <app-carousel [carouselName]="'General Management'" [appStoreData$]="appStoreApps$"></app-carousel>
      </section>
    </div>
  </section>
</div>
<app-footer></app-footer>
