<div class="px-4 py-2 bg-white rounded-md h-72 shadow-lg cursor-pointer col-span-8">
  <div class="flex items-center space-x-8">
    <div class="flex items-center justify-center w-124 rounded-lg h-68 border border-gray-200 bg-gray-100">
      <img src="../../../assets/icons/icon-512x512.png" alt="top_app_icon" class="w-full h-full object-contain rounded-lg">
    </div>
    <div class="w-full">
      <h3 class="text-xl mb-2 font-semibold">App title</h3>
      <p class="leading-6">App description App description App description App description App description App description App description App description 
        App description App description App description App description App description App description App description App description App description 
        App description App description App description App description App description App description App description App description 
      </p>
    </div>
  </div>
</div>
<!--*ngIf="index == 0"  col-span-8-->