<div class="px-4 py-2 bg-white rounded-md shadow-lg cursor-pointer h-84">
  <div class="flex items-center space-x-8 border-b border-gray-400 pb-2">
    <div class="flex items-center justify-center bg-gray-100 border border-gray-200 rounded-lg w-136 h-68">
      <img [src]="appData?.image ?? '../../../assets/placeholder.webp'" alt="top_app_icon" class="object-cover w-full h-full rounded-lg">
    </div>
    <div class="w-full">
      <h3 class="mb-2 text-xl font-semibold">{{appData?.title}}</h3>
      <p class="leading-6">{{appData?.description}}</p>
    </div>
  </div>
  <div class="flex justify-center py-2">
    <a (click)="storeModuleID(appData?._id)" [routerLink]="['/appListing/submodules', appData?.code]" [queryParams]="{moduleID: appData?._id}" class="px-2 py-1 rounded-md bg-green-500 text-white hover:text-white">
      <i class="fa fa-eye" aria-hidden="true"></i>
    </a>
    <a (click)="editModuleEvent(appData?._id)" class="px-2 py-1 rounded-md bg-blue-400 text-white mx-2 hover:text-white">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a>
    <button (click)="deleteModuleEvent(appData?._id)" class="px-2 py-1 rounded-md bg-red-500 text-white">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
  </div>
</div>
