<ng-container *ngIf="submissionData as tableData; else noData">
  <ng-container *ngIf="(moduleData | async)?.formIds?.length > 0">
    <div class="flex flex-col">
      <ag-grid-angular
        class="w-full h-full overflow-hidden ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [pagination]="true"
        [paginationPageSize]="10"
        [suppressMenuHide]="true"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
  </ng-container>
</ng-container>

<ng-template #noData>
  <p></p>
</ng-template>

<!--VIEW
  (
                      checkIfUserisApprovedUser(data?.workflowStatus) == false &&
                      checkIfUserisViewOnly((moduleData | async)?.viewOnlyUsers) == true &&
                      checkIfUserisAdmin((moduleData | async)?.adminUsers) == false &&
                      checkIfUserisActiveUser(data?.workflowStatus) == false &&
                      data?.summaryData?.progress <= 100
                    ) ||
                    (
                      checkIfUserisApprovedUser(data?.workflowStatus) == true &&
                      checkIfUserisViewOnly((moduleData | async)?.viewOnlyUsers) == false &&
                      checkIfUserisAdmin((moduleData | async)?.adminUsers) == false &&
                      checkIfUserisActiveUser(data?.workflowStatus) == false &&
                      data?.summaryData?.progress <= 100
                    ) ||
                    (
                      checkIfUserisApprovedUser(data?.workflowStatus) == false &&
                      checkIfUserisViewOnly((moduleData | async)?.viewOnlyUsers) == false &&
                      checkIfUserisAdmin((moduleData | async)?.adminUsers) == false &&
                      checkIfUserisActiveUser(data?.workflowStatus) == false &&
                      data?.summaryData?.progress == 100 &&
                      userRoleCheckAdmin == true
                    )
-->

<!--EDIT BTN
   (
                      checkIfUserisActiveUser(data?.workflowStatus) == true &&
                      checkIfUserisAdmin((moduleData | async)?.adminUsers) == false &&
                      checkIfUserisViewOnly((moduleData | async)?.viewOnlyUsers) == false &&
                      data?.summaryData?.progress < 100
                    ) ||
                    (
                      checkIfUserisActiveUser(data?.workflowStatus) == false &&
                      checkIfUserisAdmin((moduleData | async)?.adminUsers) == true &&
                      checkIfUserisViewOnly((moduleData | async)?.viewOnlyUsers) == false &&
                      data?.summaryData?.progress < 100
                    ) ||
                    (
                      checkIfUserisActiveUser(data?.workflowStatus) == true &&
                      checkIfUserisAdmin((moduleData | async)?.adminUsers) == true &&
                      checkIfUserisViewOnly((moduleData | async)?.viewOnlyUsers) == false &&
                      data?.summaryData?.progress < 100
                    ) ||
                    (
                      checkIfUserisActiveUser(data?.workflowStatus) == false &&
                      checkIfUserisAdmin((moduleData | async)?.adminUsers) == false &&
                      checkIfUserisViewOnly((moduleData | async)?.viewOnlyUsers) == false &&
                      data?.summaryData?.progress < 100 &&
                      userRoleCheckAdmin == true
                    )
-->

<!--
  <td class="px-5 py-4">
                <button
                  *ngIf="data?.status !== 2"
                  icon="tuiIconMoreVerticalLarge"
                  tuiIconButton
                  type="button"
                  size="s"
                  [tuiDropdown]="dropdownContent"
                  appearance="secondary"
                  class="ml-3"
                  [tuiDropdownManual]="data?.menuOpen"
                  [tuiDropdownAlign]="'right'"
                  (click)="onClick(data)"
                  (tuiActiveZoneChange)="onActiveZone($event, data)"
                  (tuiObscured)="onObscured($event, data)"
                >
                  <ng-template #dropdownContent>
                    <div class="px-2 py-5 bg-white">
                      <div class="flex flex-col items-center gap-3" *ngIf="data?.submissionStatus !== 4 && data?.status !== 2">
                        <a
                          title="Perform Workflow Action"
                          (click)="editWorkflowRoute(data?.id, data?.code)"
                          *ngIf="checkEditDisableDeleteButton(data) == true && data?.submissionStatus == 2"
                          class="w-20 h-6 px-1 py-1 text-xs font-medium text-center text-black no-underline bg-white cursor-pointer hover:text-black">
                          Edit &nbsp; <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <!--VIEW-
                        <a
                          title="View Submission"
                          (click)="editWorkflowRoute(data?.id, data?.code)"
                          *ngIf="checkViewButtonCondition(data) == true"
                          class="w-20 h-6 px-1 py-1 text-center ml-1.5 text-xs font-medium text-black no-underline bg-white cursor-pointer hover:text-black">
                          View &nbsp; <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
                        </a>
                        <!--Delete
                        <a
                          title="Delete Submission"
                          (click)="showDeleteDialog(dialog, 'delete', data?.id, data?.workflowStatus)"
                          *ngIf="checkViewButtonCondition(data) == true && data?.submissionStatus == 2 "
                          class="w-20 h-6 px-1 py-1 text-center ml-1.5 text-xs font-medium text-black no-underline bg-white rounded-md cursor-pointer hover:text-black">
                          Delete &nbsp; <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                        </a>
                        <!--Cancel
                        <a
                          title="Cancel Submission"
                          (click)="showDeleteDialog(dialog, 'cancel', data?.id, data?.workflowStatus)"
                          *ngIf="checkViewButtonCondition(data) == true && data?.submissionStatus == 2"
                          class="w-20 h-6 px-1 py-1 text-center ml-1.5 text-xs font-medium text-black no-underline bg-white rounded-md cursor-pointer hover:text-black">
                          Cancel &nbsp; <i class="fa fa-ban fa-lg" aria-hidden="true"></i>
                        </a>
                      </div>
                      <!--EDIT SUBMISSION PAGE-
                      <a
                        title="Edit Submission"
                        [routerLink]="['/modules/edit-submission', data?.id]"
                        (click)="setWorkflowID(data?.code, data?.id)"
                        *ngIf="data?.submissionStatus == 4"
                        class="px-3 py-2 ml-2 text-xs font-medium text-black no-underline bg-white cursor-pointer hover:text-black">
                        Update Status &nbsp; <i class="fa fa-edit fa-lg" aria-hidden="true"></i>
                      </a>
                    </div>
                  </ng-template>
                </button>
              </td>
-->
