<app-header></app-header>
<section class="grid grid-cols-12 gap-4 w-11/12 mx-auto mt-32 pb-20">
  <app-shared-menu class="col-span-3"></app-shared-menu>
  <div class="col-span-9 flex flex-col my-4 w-full">
    <table tuiTable [columns]="columns">
      <thead>
        <tr class="text-left" tuiThGroup>
          <th *tuiHead="'Apps'" tuiTh [sorter]="null" class="pr-10 border-transparent">
            <p class="text-lg text-black mb-3">Apps</p>
            <p class="text-xs text-gray-400">More than 40 apps installed</p>
          </th>
          <th class="text-gray-400 text-xs border-transparent" *tuiHead="'All'" tuiTh [sorter]="null">
            All
          </th>
          <th class="text-gray-400 text-xs border-transparent" *tuiHead="'Approved'" tuiTh [sorter]="null">
            Approved
          </th>
          <th class="text-gray-400 text-xs border-transparent" *tuiHead="'Rejected'" tuiTh [sorter]="null">
            Rejected
          </th>
          <th class="text-gray-400 text-xs border-transparent" *tuiHead="'In Progress'" tuiTh [sorter]="null">
            In Progress
          </th>
        </tr>
      </thead>
    </table>
    
    <table tuiTable class="mt-8">
      <tbody
        *tuiLet="(apps$ | async)! as sortedApps"
        tuiTbody
        [data]="sortedApps"
      >
        <tr *ngFor="let item of sortedApps; let index = index" class="text-left">
          <td class="font-semibold text-sm text-[#464E5F] pt-1 pb-5">
            <div class="flex justify-start">
              <img [src]="item.icon" alt="app_icon" class="px-3 py-3 rounded-lg bg-[#F3F6F9] mx-3">
              <p class="mt-3.5 ml-2">{{ item.name }}</p>
            </div>
          </td>
          <td class="text-xs text-gray-400">
            {{item.department}}
          </td>
          <td class="text-xs font-semibold">
            <span
              class="px-2 py-1 rounded-md"
              [ngClass]="{'text-green-600 bg-green-200': item.status == 'Approved', 'text-red-600 bg-red-200': item.status == 'Rejected', 'text-yellow-600 bg-yellow-200': item.status == 'In Progress'}"
            >
              {{item.status}}
            </span>
          </td>
          <td>
            <div class="flex justify-start">
              <a class="px-2 py-2 bg-[#F3F6F9] rounded-md mx-3 cursor-pointer">
                <img src="../../../../../assets/status_change.svg" alt="status_change">
              </a>
              <a class="px-2 py-2 bg-[#F3F6F9] rounded-md cursor-pointer">
                <img src="../../../../../assets/edit.svg" alt="status_change">
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="flex justify-end px-10 py-10">
      <tui-pagination
        [length]="length"
        [index]="index"
        (indexChange)="goToPage($event)"
      ></tui-pagination>
    </div>
  </div>
</section>
