<div class="flex flex-col">
  <app-menu-card
    [menuHeader]="'App Store'"
    [menuSubHeader]="'Categories'"
    [menuIcon]="'../../../../assets/menu_bars.svg'"
    [menuItems]="categories$"
    class="mb-14"
  >
  </app-menu-card>
  <app-menu-card
    [menuHeader]="'Store Console'"
    [secondarySubHeader]="'Categories'"
    [secondaryMenuSubHeader]="'Apps'"
    [menuIcon]="'../../../../assets/settings_icon.svg'"
    [apps]="apps$"
    [secondaryMenuItems]="consoleCategories$"
  >
  </app-menu-card>
</div>