<app-header></app-header>
<div class="bg_img_main">
  <section class="w-11/12 mx-auto mt-52 pb-60">
    <div class="flex justify-end mb-5">
      <div class="cursor-pointer">
        <a (click)="showAddOrEditDialog(addTemplate, null)" class="px-4 py-2 rounded-lg bg-[#a58f81] text-white no-underline hover:text-white text-sm">+ Add category</a>
      </div>
    </div>
    <div class="flex flex-col">
      <ag-grid-angular
        class="w-full h-full overflow-hidden ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [pagination]="true"
        [paginationPageSize]="10"
        [suppressMenuHide]="true"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
  </section>
</div>

<app-footer></app-footer>

<ng-template #addTemplate let-observer>
  <p class="text-lg font-semibold text-center">
    {{categoryId ? 'Update': 'Add'}} Category
  </p>
  <!--ADD-->
  <div *ngIf="!categoryId" class="flex flex-col justify-center my-5">
    <label class="block" for="Textarea2">Category Name<sup class="text-red-500">*</sup></label>
    <input [formControl]="categoryControl" class="mb-1 form-control">
    <span *ngIf="categoryControl?.hasError('required') && categoryControl?.dirty" class="text-xs text-red-500">
      Category is required
    </span>
    <span *ngIf="categoryControl?.hasError('codeExists')" class="text-xs text-red-500">
      A category with this name already exists. Please provide a different name.
    </span>
  </div>
  <div class="flex justify-center gap-x-3">
    <button
      tuiButton
      type="button"
      size="m"
      (click)="editOrAddCategory();"
    >
      {{categoryId ? 'Update': 'Add'}}
    </button>

    <button
      tuiButton
      type="button"
      size="m"
      appearance="accent"
      (click)="observer.complete(); categoryId = null"
    >
      Cancel
    </button>
  </div>
</ng-template>
