<div class="flex justify-end mb-7">
  <div class="cursor-pointer">
    <a [routerLink]="['/appListing/add-submodule']"  class="px-6 py-3 rounded-md bg-[#a58f81] text-white no-underline hover:text-white text-base">+ Add submodule</a>
  </div>
</div>
<div class="relative overflow-x-auto shadow-lg rounded-lg">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-[#eae4d8]">
      <tr>
        <th scope="col" class="px-6 py-3 text-sm">
          Company Name &nbsp; <filter [filterBy]="'Company Name'"></filter>
        </th>
        <th scope="col" class="px-6 py-3 text-sm">
          Submodule Name &nbsp; <filter [filterBy]="'Submodule Name'"></filter>
        </th>
        <th scope="col" class="px-6 py-3 text-sm">
          Module Name &nbsp; <filter [filterBy]="'Module Name'"></filter>
        </th>
        <th scope="col" class="px-6 py-3 text-sm">
          Status &nbsp; <filter [filterBy]="'Status'" [searchEnabled]="false" [showSortCategories]="false"></filter>
        </th>
        <th scope="col" class="px-6 py-3 text-sm">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container >
        <tr class="bg-white border-b border-gray-300">
          <th scope="row" class="px-6 py-4 font-normal whitespace-nowrap">
            Depa Interiors LLC
          </th>
          <td class="px-6 py-4">
            Angular Forms
          </td>
          <td class="px-6 py-4">
            Angular
          </td>
          <td class="px-6 py-4">
            Interior Design
          </td>
          <td class="py-4 w-3/12">
            <a class="font-medium px-2 py-1 bg-blue-400 text-white rounded-md hover:text-white no-underline cursor-pointer text-xs">
              <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i> Edit
            </a>
            <a class="font-medium ml-2 px-2 py-1 bg-[#cf2729] text-white rounded-md hover:text-white no-underline cursor-pointer text-xs">
              <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Delete
            </a>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
