.tooltiptext {
  width: 170px;
  background-color: #6C86E2;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 2px;
  position: absolute;
  font-size: 11px;
  z-index: 1;
  top: -11px;
  right: 110%;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #6C86E2;
}
