<div class="relative bg_img">
  <section class="absolute left-0 right-0 mx-auto text-center top-20">
    <div class="flex flex-col items-center justify-center">
      <div class="">
        <img ngSrc="../../../../../assets/depa_logo.svg" width="100" height="97"/>
      </div>
      <div class="card">
        <p class="pt-3 pb-2 md:text-2xl text-xl font-bold">Welcome to Depa App Store</p>
        <p class="md:text-lg text-base text-[#B5B5C3]">Enter your Login credentials</p>
        <div class="px-4 pt-2 text-left">
          <!-- <ng-container *ngIf="loginViaActiveDir?.value === false"> -->
            <formio [submission]="submission" (submit)="onSubmit($event)" [form]="emailLoginForm" [options]="options"></formio>
          <!-- </ng-container> -->
          <!-- <ng-container *ngIf="loginViaActiveDir?.value === true">
            <formio [submission]="submission" (change)="onChange($event)" (submit)="onSubmit($event)" [form]="activeDirectoryLoginForm" [options]="options"></formio>
          </ng-container> -->
          <p class="-mt-3"> - or -</p>
          <div class="pb-2 mt-3 gap-x-3">
            <!-- <tui-checkbox
              [formControl]="loginViaActiveDir"
              class="mt-0.5"
            ></tui-checkbox> -->
            <a href="http://127.0.0.1:4000/auth/signin?redirectUri='https://depa-frontend.pages.dev/auth/login''" class="bg-[#005DA6] text-white hover:text-white px-3 py-2 rounded-md text-base cursor-pointer">
              Login via Windows Credentials
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="w-full mt-1 text-left fv-plugins-message-container text-xxs 2xl:text-xs">
      <span class="text-red-400 fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>
