<app-header></app-header>
<div class="bg_img_main">
  <section class="w-11/12 mx-auto mt-52 pb-60">
    <div class="cursor-pointer flex justify-end mb-3">
      <a (click)="showAddDialog(addTemplate)" class="px-4 py-2 rounded-lg bg-[#a58f81] text-white no-underline hover:text-white text-sm">+ Add new user</a>
    </div>
    <div class="flex flex-col">
      <ag-grid-angular
        class="w-full h-full overflow-hidden ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [pagination]="true"
        [paginationPageSize]="10"
        [suppressMenuHide]="true"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
  </section>
</div>

<app-footer></app-footer>

<!-- Add User Dialog -->
<ng-template #addTemplate let-observer>
  <p class="text-lg font-semibold text-center">
    Add User
  </p>
  <div class="flex flex-col justify-center my-5" [formGroup]="userAddFormCustom">
    <div class="mb-2">
      <label class="block">Full Name<sup class="text-red-500">*</sup></label>
      <input autocomplete="new-password" formControlName="fullName" class="mb-1 form-control">
      <span *ngIf="f['fullName']?.hasError('required') && f['fullName']?.dirty" class="text-xs text-red-500">
        Full name is required
      </span>
    </div>

    <div class="my-2">
      <label class="block">Email<sup class="text-red-500">*</sup></label>
      <input autocomplete="new-password" formControlName="email" class="mb-1 form-control">
      <span *ngIf="f['email']?.hasError('required') && f['email']?.dirty" class="text-xs text-red-500">
        Email is required
      </span>
      <span *ngIf="f['email']?.hasError('pattern') && f['email']?.dirty" class="text-xs text-red-500">
        Please provide a valid email address
      </span>
      <span *ngIf="f['email']?.hasError('codeExists')" class="text-xs text-red-500">
        A user with this email already exists. Please provide a different email.
      </span>
    </div>

    <div class="my-2">
      <label class="block">Role<sup class="text-red-500">*</sup></label>
      <select class="form-select form-control" aria-label="Default select example" formControlName="role">
        <option value="admin">Admin</option>
        <option value="user">User</option>
      </select>
      <span *ngIf="f['role']?.hasError('required') && f['role']?.dirty" class="text-xs text-red-500">
        Please specify user role
      </span>
    </div>
    <div class="my-2">
      <label class="block">Password</label>
      <input autocomplete="new-password" type="password" formControlName="password" class="mb-1 form-control">
      <span *ngIf="f['password']?.hasError('required') && f['password']?.dirty" class="text-xs text-red-500">
        Password is required
      </span>
      <span *ngIf="f['password']?.hasError('minlength') && f['password']?.dirty" class="text-xs text-red-500">
        Password should be at least 8 characters long
      </span>
      <p *ngIf="f['password']?.hasError('pattern') && f['password']?.dirty" class="text-xs text-red-500">
        Password should have at least one number and one character
      </p>
    </div>
  </div>
  <div class="flex justify-center gap-x-3">
    <button
      tuiButton
      type="button"
      size="m"
      (click)="addUser();"
    >
      Add
    </button>

    <button
      tuiButton
      type="button"
      size="m"
      appearance="accent"
      (click)="observer.complete(); cancel()"
    >
      Cancel
    </button>
  </div>
</ng-template>
