.scrollable-elem {
  scrollbar-width: thin;
  scrollbar-color: #d6dde2 #d6dde2;
  white-space: nowrap;
  text-decoration: transparent!important;
  max-width: 100%;
  overflow: auto;
}

.scrollable-elem {
  scrollbar-width: thin;
  scrollbar-color: #d6dde2 #d6dde2;
}

.scrollable-elem::-webkit-scrollbar-track {
  background-color: rgb(235, 231, 231);
}

.scrollable-elem::-webkit-scrollbar-thumb {
  background-color: #d6dde2;
  border-radius: 6px;
  border: 1px solid #CFD8DC;
}

.scrollable-elem::-webkit-scrollbar,
.scrollable-elem::-webkit-scrollbar-thumb {
  width: 8px;
  height: 3px!important;
}