<div #customElem class="relative">
  <input
    type="text"
    (keypress)="$event.preventDefault()"
    (click)="toggleDropDown()"
    class="px-4 text-transparent cursor-pointer py-2 rounded-xl w-full h-14 outline-none border border-gray-100 focus:border-2 focus:border-[rgb(116,140,235)] focus:transition-all shadow-md"
  />
  <i [ngClass]="open ? 'rotate-0 transition-all delay-75' : '-rotate-180 transition-all delay-75'" class="fa fa-angle-up fa-2x absolute top-4 right-5 text-gray-400" aria-hidden="true"></i>
  <ul [ngClass]="open ? 'h-96 transition-all ease-in-out delay-100 visible' : 'h-0 py-0 px-0 transition-all ease-in-out delay-100 invisible'" class="rounded-lg py-3 px-5 shadow-md bg-white mt-3 h-96 overflow-y-auto border border-gray-300 scrollable-elem">
    <tui-input
      tuiTextfieldIconLeft="tuiIconSearchLarge"
      class="w-full mb-4"
      [formControl]="searchValue"
      [tuiTextfieldCleaner]="true"
    >
      <p class="mt-2">Search</p>
      <input
        tuiTextfield
        placeholder="Type to start searching..."
      />
    </tui-input>
    <ng-container *ngFor="let user of items">
      <li class="gap-2 my-3">
        <tui-checkbox-labeled
          [formControl]="user.control"
          size="l"
        >
          {{user.name}}
        </tui-checkbox-labeled>
      </li>
    </ng-container>
  </ul>
</div>