<app-header></app-header>
<section class="w-11/12 h-auto min-h-screen mx-auto mt-52 pb-44">
  <section>
    <h3 class="text-xl font-semibold">Create new submodule</h3>
  </section>
  <form class="block pt-5" [formGroup]="subModuleForm">
    <div class="my-3">
      <label class="block pb-1">Submodule URL<span class="text-xs text-red-400">*</span></label>
      <div class="mb-3 input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">{{domainURL}}/submodule/submodule-details/</span>
        </div>
        <input required [ngClass]="f['subModuleUrl']?.invalid && f['subModuleUrl']?.dirty ? 'is-invalid' : ''" formControlName="subModuleUrl" class="form-control" type="text">
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Submodule URL is required',
          control: f['subModuleUrl']
        }"></ng-container>
      </div>
      <p class="block mb-2 text-xs text-gray-600">Please provide an endpoint for your submodule</p>
    </div>

    <div class="my-7">
      <label class="block pb-1">Company Name <span class="text-xs text-red-400">*</span></label>
      <select required [ngClass]="f['companyName']?.invalid && f['companyName']?.dirty ? 'is-invalid' : ''" formControlName="companyName" class="form-control" type="text">
        <ng-container *ngFor="let company of companyList;">
          <option [value]="company?.value">{{company?.label}}</option>
        </ng-container>
      </select>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Company is required',
        control: f['companyName']
      }"></ng-container>
    </div>
    <div class="my-2">
      <p class="text-xs text-gray-500">If your company isn't listed, you can add it below</p>
    </div>
    <ng-container formArrayName="companies">
      <ng-container *ngFor="let company of companies.controls; let i = index; let first = first; let last = last">
        <div class="w-7/12 px-8" [formGroupName]="i">
          <div class="flex items-center justify-between w-full gap-2 mb-3">
            <div class="w-full">
              <label *ngIf="i == 0" class="block pb-2 text-xs font-semibold">Add new companies</label>
                <input
                  class="form-control"
                  formControlName="title"
                  type="text"
                />
            </div>
            <div [ngClass]="first ? 'mt-7': 'mt-0'">
              <button
                tuiIconButton
                type="button"
                size="s"
                appearance="secondary-destructive"
                icon="tuiIconTrash2Large"
                (click)="removeCompany(i)"
              ></button>
            </div>
          </div>
          <div class="flex justify-end">
            <button
              *ngIf="last"
              tuiButton
              type="button"
              class="mb-3"
              size="m"
              (click)="submitNewCompany()"
            >Submit</button>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <button
      tuiIconButton
      type="button"
      size="m"
      appearance="secondary"
      icon="tuiIconPlusLarge"
      (click)="addCompany()"
    ></button>

    <!--Admin and View only users-->
    <div class="grid grid-cols-12 gap-3 my-8">
      <div class="col-span-6">
        <label class="block pb-1 text-sm">Admin users <span class="text-red-500">*</span></label>
        <custom-multi-select
          formControlName="adminUsers"
          (approverList)="setAdminUsers($event)"
        ></custom-multi-select>
      </div>

      <div class="col-span-6">
        <label class="block pb-1 text-sm">View Only users <span class="text-red-500">*</span></label>
        <custom-multi-select
          formControlName="viewOnlyUsers"
          (approverList)="setViewUsers($event)"
        ></custom-multi-select>
      </div>
    </div>

    <!--Form preview-->
    <div class="mb-5 mt-7">
      <h3 class="mb-5 text-lg font-semibold">Create Form</h3>
      <h4 class="text-base font-semibold text-center">Form/s Preview</h4>
      <div class="flex flex-col w-full px-5 mx-auto mt-5 border border-gray-400 border-dashed rounded-md bg-gray-50">
        <ng-container *ngIf="formComponents[0]?.components?.length > 0">
          <!-- <div class="inline-flex gap-3 mt-3 mb-8" [formGroup]="languageForm">
            <tui-radio-labeled
              formControlName="languages"
              size="l"
              [item]="langItems[0]"
              (click)="changeLanguage(langItems[0]?.name)"

            >
              English
            </tui-radio-labeled>
            <tui-radio-labeled
              formControlName="languages"
              size="l"
              [item]="langItems[1]"
              (click)="changeLanguage(langItems[1]?.name)"
            >
              Arabic
            </tui-radio-labeled>
          </div> -->
          <section class="flex justify-between my-8">
            <nav
              tuiTabs
              vertical="left"
              class="w-32 mr-5"
            >
              <ng-container *ngFor="let tab of formTabs; let j = index">
                <button (click)="activeIndex = j" tuiTab>{{tab}}</button>
              </ng-container>
            </nav>
            <ng-container *ngFor="let form of formComponents; let i = index;">
              <div *ngIf="activeIndex == i" class="w-full well jsonviewer">
                <div class="flex justify-end">
                  <a (click)="sendFormForEdit(i)" class="px-2 py-1 rounded-md cursor-pointer bg-slate-200">
                    <i class="fa fa-pencil-square fa-2x text-slate-500 hover:text-slate-600" aria-hidden="true"></i>
                  </a>
                </div>
                <formio [language]="language" [options]="options" [form]="form"></formio>
              </div>
            </ng-container>

          </section>
        </ng-container>
        <ng-container *ngIf="formComponents[0]?.components?.length == 0">
          <div class="grid grid-cols-12 gap-2">
            <div data-placeholder class="h-8 col-span-6 my-3 overflow-hidden bg-gray-200 rounded-md"></div>
            <div data-placeholder class="h-8 col-span-6 my-3 overflow-hidden bg-gray-200 rounded-md"></div>
            <div data-placeholder class="h-32 col-span-12 mb-3 overflow-hidden bg-gray-200 rounded-md"></div>
          </div>
        </ng-container>
      </div>
      <div class="w-full mx-auto my-1">
        <p class="text-xs text-gray-500">The form you add will appear here</p>
      </div>
    </div>

    <!--Add new Form-->
    <div class="mt-7">
      <a (click)="saveDraft()" class="px-5 py-3 rounded-lg bg-[#a58f81] no-underline text-white cursor-pointer hover:text-white">
        {{formComponents[0]?.components?.length == 0 ? 'Add form' : 'Add another'}}
      </a>
    </div>

    <!--Edit Workflow-->
    <div class="mt-12">
      <h4 class="text-lg font-semibold">Modify default workflow</h4>
      <p class="my-2 text-sm text-gray-500">The default workflow will be used if you choose not to modify it</p>
      <ng-container formArrayName="workflows">
        <ng-container *ngFor="let workflow of workflows.controls; let i = index; let first = first; let last = last">
          <p class="text-base font-semibold mt-7">Step {{i === 0 ? '1' : i+1}}</p>
          <div class="grid grid-cols-12 gap-3 my-4" [formGroupName]="i">
            <div class="col-span-5">
              <label class="block pb-1">Approvers <span class="text-xs text-red-400">*</span></label>
              <custom-multi-select (checkUsersLength)="countUsers($event, i)" formControlName="approverIds" (approverList)="getApproverList($event, i)"></custom-multi-select>
            </div>
            <div class="col-span-5">
              <label for="conditionSelect" class="block pb-1">Condition <span class="text-xs text-red-400">*</span></label>
              <select (change)="validateSelection(i)" formControlName="condition" class="h-10 mt-2 form-select form-control" aria-label="Default select example" id="conditionSelect">
                <option value="and">AND</option>
                <option value="or">OR</option>
                <option value="none">NONE</option>
              </select>
            </div>
            <div class="col-span-2 mt-8">
              <button
                tuiIconButton
                type="button"
                size="s"
                appearance="secondary-destructive"
                icon="tuiIconTrash2Large"
                (click)="removeWorkflowStep(i)"
              ></button>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <button
        tuiIconButton
        type="button"
        size="m"
        appearance="primary"
        icon="tuiIconPlusLarge"
        (click)="addWorkflowStep()"
      ></button>
    </div>

    <div class="flex justify-center gap-2 mt-10">
      <button
        tuiButton
        type="button"
        size="m"
        appearance="primary"
        (click)="saveSubModule()"
        [showLoader]="(isCreatingSubModule | async) == true"
      >
        Publish
      </button>
      <!-- <button
        tuiButton
        type="button"
        size="m"
        appearance="outline"
        (click)="saveSubModule(4)"
        [showLoader]="(isCreatingSubModule | async) == true"
      >
        Save as Draft
      </button> -->
      <button
        tuiButton
        type="button"
        size="m"
        appearance="accent"
        (click)="cancelSubmodule()"
      >Cancel</button>
    </div>
  </form>
</section>
<app-footer></app-footer>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="w-full mt-1 text-left fv-plugins-message-container text-xxs 2xl:text-xs">
      <span class="text-red-400 fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>
