<app-header></app-header>
<section class="w-11/12 h-auto min-h-screen mx-auto mt-52 pb-44">
  <section>
    <h3 class="text-xl font-semibold text-center">Create a new app</h3>
    <h4 class="text-lg font-semibold bg-[#EAE4D8] px-2 py-2 rounded-md mt-2">Basic Info</h4>
  </section>
  <form class="block pt-5" [formGroup]="subModuleForm">
    <!--Title-->
    <div class="grid grid-cols-12 gap-3">
      <div class="col-span-6 mt-3 mb-5">
        <label class="block pb-1">App Title <span class="text-xs text-red-400">*</span></label>
          <input required
            [ngClass]="f['title']?.invalid && f['title']?.dirty ? 'is-invalid' : ''"
            formControlName="title"
            class="form-control"
            type="text"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'App Title is required',
              control: f['title']
            }"
          ></ng-container>
          <span class="text-xs text-red-500"
            *ngIf="f['title']?.hasError('codeExists')">
            An app by this title already exists. Please select another title
          </span>
      </div>

      <div class="col-span-6 mt-3 mb-5">
        <label class="block pb-1">App Code <span class="text-xs text-red-400">*</span></label>
          <input required
            [ngClass]="f['code']?.invalid && f['code']?.dirty ? 'is-invalid' : ''"
            formControlName="code"
            class="form-control"
            type="text"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'App code is required',
              control: f['code']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message: 'App code should not exceed 7 characters',
              control: f['code']
            }"
          ></ng-container>
          <span class="text-xs text-red-500"
            *ngIf="f['code']?.hasError('codeExists')">
            An app with this code already exists. Please select another code.
          </span>
      </div>
    </div>
    <!--Description & Image-->
    <div class="grid grid-cols-12 gap-3">
      <!--Description-->
      <div class="col-span-6 mt-3 mb-3">
        <label class="block pb-1">App Description<span class="text-xs text-red-400">*</span></label>
          <textarea
            required
            [ngClass]="
              f['description']?.invalid &&
              f['description']?.dirty
                ? 'is-invalid'
                : ''
            "
            formControlName="description"
            class="form-control"
            type="text"
            rows="6"
          ></textarea>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'A Description is required',
              control: f['description']
            }"
          ></ng-container>
      </div>
    <!--Image-->
      <div class="col-span-6 mt-3 mb-3">
        <label class="block pb-1">App Icon<span class="text-xs text-red-400">*</span></label>
        <label
          (change)="onFileSelect($event)"
          for="dropzone-file"
          class="flex flex-col items-center justify-center w-full h-[9.85rem] border-2 border-gray-300 border-dashed rounded-md cursor-pointer bg-gray-50 hover:bg-gray-100"
          >
            <tui-loader
              [inheritColor]="true"
              [size]="'l'"
              [showLoader]="false"
              [overlay]="true"
            >
              <div *ngIf="file" class="flex justify-center">
                <img
                  [src]="base64File"
                  alt="app_icon"
                  width="100"
                  height="130"
                  class="rounded-md"
                />
              </div>
              <div *ngIf="!file" class="flex justify-start">
                <div class="mx-8 mt-1">
                  <img
                    src="../../../../../assets/windows.svg"
                    width="32"
                    height="32"
                  />
                </div>
                <ul class="text-sm text-gray-400 list-disc">
                  <li>Only (JPEG, PNG, WEBP) extensions are allowed</li>
                  <li>Up to 2MB file size is allowed</li>
                </ul>
              </div>
            </tui-loader>
            <input id="dropzone-file" type="file" class="hidden" />
        </label>
      </div>
    </div>

    <!--Companies-->
    <div class="my-7">
      <label class="block pb-1">Company Name <span class="text-xs text-red-400">*</span></label>
      <select required [ngClass]="f['companyName']?.invalid && f['companyName']?.dirty ? 'is-invalid' : ''" formControlName="companyName" class="form-control" type="text">
        <ng-container *ngFor="let company of companyList;">
          <option [value]="company?.value">{{company?.label}}</option>
        </ng-container>
      </select>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Company is required',
        control: f['companyName']
      }"></ng-container>
    </div>
    <div class="my-2">
      <p class="text-xs text-gray-500">If your company isn't listed, you can add it below</p>
    </div>
    <ng-container formArrayName="companies">
      <ng-container *ngFor="let company of companies.controls; let i = index; let first = first; let last = last">
        <div class="w-7/12 px-8" [formGroupName]="i">
          <div class="flex items-center justify-between w-full gap-2 mb-3">
            <div class="w-full">
              <label *ngIf="i == 0" class="block pb-2 text-xs font-semibold">Add new companies</label>
                <input
                  class="form-control"
                  formControlName="title"
                  type="text"
                  [ngClass]="getValidityForCompany(i) ? 'is-invalid': ''"
                />
                <span *ngIf="getValidityForCompany(i)" class="text-xs text-red-500">
                  Please provide a company name
                </span>
                <span *ngIf="getValidityForCompanyCodeExists(i)" class="text-xs text-red-500">
                  A company with this name already exists. Please provide another name.
                </span>

                <input
                  class="mt-3 form-control"
                  formControlName="groupCode"
                  type="text"
                  [ngClass]="getValidityForCompanyCode(i) ? 'is-invalid': ''"
                />
                <span *ngIf="getValidityForCompanyCode(i)" class="text-xs text-red-500">
                  Please provide a group code with upto 4 characters
                </span>
                <span *ngIf="getValidityForCompanyCodeExistsGroup(i)" class="text-xs text-red-500">
                  A company with this code already exists. Please provide a different code.
                </span>
              </div>
            <div [ngClass]="first ? 'mt-7': 'mt-0'">
              <button
                tuiIconButton
                type="button"
                size="s"
                appearance="secondary-destructive"
                icon="tuiIconTrash2Large"
                (click)="removeCompany(i)"
              ></button>
            </div>
          </div>
          <div class="flex justify-end">
            <button
              *ngIf="last"
              tuiButton
              type="button"
              class="mb-3"
              size="m"
              (click)="submitNewCompany()"
            >Submit</button>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <button
      tuiIconButton
      type="button"
      size="m"
      appearance="secondary"
      icon="tuiIconPlusLarge"
      (click)="addCompany()"
    ></button>

    <!--Categories-->
    <ng-container *ngIf="parentIDUnAssigned == true">
      <div class="my-7">
        <label class="block pb-1">Category Name <span class="text-xs text-red-400">*</span></label>
        <select required [ngClass]="f['categoryName']?.invalid && f['categoryName']?.dirty ? 'is-invalid' : ''" formControlName="categoryName" class="form-control" type="text">
          <ng-container *ngFor="let category of categoryList;">
            <option [value]="category?.value">{{category?.label}}</option>
          </ng-container>
        </select>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Category is required',
          control: f['categoryName']
        }"></ng-container>
      </div>
      <div class="my-2">
        <p class="text-xs text-gray-500">If your desired category isn't listed, you can add it below</p>
      </div>
      <ng-container formArrayName="categories">
        <ng-container *ngFor="let category of categories.controls; let i = index; let first = first; let last = last">
          <div class="w-7/12 px-8" [formGroupName]="i">
            <div class="flex items-center justify-between w-full gap-2 mb-3">
              <div class="w-full">
                <label *ngIf="i == 0" class="block pb-2 text-xs font-semibold">Add new categories</label>
                  <input
                    class="form-control"
                    formControlName="name"
                    type="text"
                    [ngClass]="getValidityForCategory(i) ? 'is-invalid': ''"
                  />
                  <span *ngIf="getValidityForCategory(i)" class="text-xs text-red-500">
                    Please provide a category name with upto 40 characters
                  </span>
                  <span *ngIf="getValidityForCategoryCode(i)" class="text-xs text-red-500">
                    A category with this name already exists. Please provide a different name.
                  </span>
              </div>
              <div [ngClass]="first ? 'mt-7': 'mt-0'">
                <button
                  tuiIconButton
                  type="button"
                  size="s"
                  appearance="secondary-destructive"
                  icon="tuiIconTrash2Large"
                  (click)="removeCategory(i)"
                ></button>
              </div>
            </div>
            <div class="flex justify-end">
              <button
                *ngIf="last"
                tuiButton
                type="button"
                class="mb-3"
                size="m"
                [disabled]="getValidityForCategory(i) || getValidityForCategoryCode(i)"
                (click)="submitNewCategory()"
              >Submit</button>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <button
        tuiIconButton
        type="button"
        size="m"
        appearance="secondary"
        icon="tuiIconPlusLarge"
        (click)="addCategory()"
      ></button>
    </ng-container>

    <section class="mt-10">
      <h4 class="text-lg font-semibold bg-[#EAE4D8] px-2 py-2 rounded-md mt-2">User Access & Control</h4>
    </section>
    <!--Admin and View only users-->
    <div class="grid grid-cols-12 gap-3 my-8">
      <div class="col-span-6">
        <label class="block pb-1 text-sm">Admin users
          <tui-tooltip
            [content]="hintAdmin"
            direction="right"
            class=""
          ></tui-tooltip>
          <sup>(optional)</sup>
        </label>
        <custom-multi-select
          formControlName="adminUsers"
          (approverList)="setAdminUsers($event)"
        ></custom-multi-select>
      </div>

      <div class="col-span-6">
        <label class="block pb-1 text-sm">View Only users
          <tui-tooltip
            [content]="hintViewOnly"
            direction="right"
            class=""
          ></tui-tooltip>
          <sup>(optional)</sup></label>
        <custom-multi-select
          formControlName="viewOnlyUsers"
          (approverList)="setViewUsers($event)"
        ></custom-multi-select>
      </div>
    </div>

    <!--Edit Workflow-->
    <div class="mt-12 mb-16">
      <h4 class="py-2 mb-3 text-lg font-semibold">Create Workflow</h4>
      <ng-container formArrayName="workflows">
        <ng-container *ngFor="let workflow of workflows.controls; let i = index; let first = first; let last = last">
          <p class="text-base font-semibold mt-7">Step {{i === 0 ? '1' : i+1}}</p>
          <div class="grid grid-cols-12 gap-3 my-4" [formGroupName]="i">
            <ng-container *ngIf="i == 0">
              <div class="col-span-3">
                <label class="block pb-1">{{first ? 'Creators': 'Approvers'}} <span class="text-xs text-red-400">*</span></label>
                <custom-multi-select (checkUsersLength)="countUsers($event, i)" formControlName="approverIds" (approverList)="getApproverList($event, i)"></custom-multi-select>
                <span class="text-xs text-red-500" *ngIf="(showError | async) && i === errorIndex">Please select either AND or OR as the condition</span>
                <span *ngIf="getValidityForWorkflowStep() == true" class="text-xs text-red-500">
                  Please specify submission creator/s
                </span>
              </div>
              <div class="col-span-3">
                <label for="conditionSelect" class="block pb-1">Condition <span class="text-xs text-red-400">*</span></label>
                <select (change)="validateSelection(i)" formControlName="condition" class="h-10 mt-2 form-select form-control" aria-label="Default select example" id="conditionSelect">
                  <ng-container *ngIf="i > 0">
                    <option value="and">AND</option>
                  </ng-container>
                  <option value="or">OR</option>
                  <option value="none">NONE</option>
                </select>
              </div>
              <div class="inline-flex col-span-1 mt-8">
                <tui-tooltip
                  [content]="hint"
                  direction="right"
                  class="mt-1 mr-4 -ml-2"
                ></tui-tooltip>
                <tui-badged-content
                  [contentTop]="
                    workflows.at(i).get('emailNotifyTo')?.value?.length
                  "
                  [colorTop]="'green'"
                >
                  <button
                    tuiIconButton
                    type="button"
                    size="s"
                    appearance="outline"
                    icon="tuiIconMailLarge"
                    (click)="openEmailNotifyModal(template, workflows, i)"
                  ></button>
                </tui-badged-content>
              </div>
              <div class="col-span-4">
                <div class="flex justify-between mt-8">
                  <tui-radio-labeled
                    [formControl]="accessTypeValue"
                    class="tui-space_bottom-3"
                    [item]="items[0]"
                  >
                    <div>Any (Create)</div>
                    <div class="mt-1 text-xxs font-extralight">Any user can create a new submission</div>
                  </tui-radio-labeled>

                  <tui-radio-labeled
                    [formControl]="accessTypeValue"
                    class="tui-space_bottom-3"
                    [item]="items[1]"
                  >
                    <div>Any (Create & Modify)</div>
                    <div class="mt-1 text-xxs font-extralight">Any user can create a new submission and modify it's workflow</div>
                  </tui-radio-labeled>

                  <tui-radio-labeled
                    [formControl]="accessTypeValue"
                    class="tui-space_bottom-3"
                    [item]="items[2]"
                  >
                    <div>Disabled</div>
                    <div class="mt-1 text-xxs font-extralight">Only Admin users can create and modify submissions</div>
                  </tui-radio-labeled>
                </div>
              </div>
              <div class="col-span-1 mt-8">
                <button
                  tuiIconButton
                  type="button"
                  size="s"
                  appearance="secondary-destructive"
                  icon="tuiIconTrash2Large"
                  (click)="removeWorkflowStep(i)"
                ></button>
              </div>
            </ng-container>
            <ng-container *ngIf="i > 0">
              <div class="col-span-4">
                <label class="block pb-1">Approvers <span class="text-xs text-red-400">*</span></label>
                <custom-multi-select (checkUsersLength)="countUsers($event, i)" formControlName="approverIds" (approverList)="getApproverList($event, i)"></custom-multi-select>
                <span class="text-xs text-red-500" *ngIf="(showError | async) && i === errorIndex">Please select either AND or OR as the condition</span>
              </div>
              <div class="col-span-4">
                <label for="conditionSelect" class="block pb-1">Condition <span class="text-xs text-red-400">*</span></label>
                <select (change)="validateSelection(i)" formControlName="condition" class="h-10 mt-2 form-select form-control" aria-label="Default select example" id="conditionSelect">
                  <option value="and">AND</option>
                  <option value="or">OR</option>
                  <option value="none">NONE</option>
                </select>
              </div>
              <div class="inline-flex col-span-1 mt-8">
                <tui-tooltip
                  [content]="hint"
                  direction="right"
                  class="mt-1 mr-4 -ml-2"
                ></tui-tooltip>
                <tui-badged-content
                  [contentTop]="
                    workflows.at(i).get('emailNotifyTo')?.value?.length
                  "
                  [colorTop]="'green'"
                >
                  <button
                    tuiIconButton
                    type="button"
                    size="s"
                    appearance="outline"
                    icon="tuiIconMailLarge"
                    (click)="openEmailNotifyModal(template, workflows, i)"
                  ></button>
                </tui-badged-content>
              </div>
              <div class="col-span-1 mt-8 -ml-4">
                <button
                  tuiIconButton
                  type="button"
                  size="s"
                  appearance="secondary-destructive"
                  icon="tuiIconTrash2Large"
                  (click)="removeWorkflowStep(i)"
                ></button>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
      <button
        tuiIconButton
        type="button"
        size="m"
        appearance="primary"
        icon="tuiIconPlusLarge"
        (click)="addWorkflowStep()"
      ></button>
    </div>

    <!--Form preview-->
    <div class="mb-5 mt-7">
      <div class="flex justify-between bg-[#EAE4D8] px-2 py-2 rounded-md mb-3">
        <h4 class="text-lg font-semibold">Dynamic Forms</h4>
        <a
          *ngIf="formComponents[0]?.components?.length > 0"
          (click)="openSummarySchemaDialog(summarySchemaTemplate)"
          class="px-2.5 py-2 text-white bg-blue-500 rounded-md cursor-pointer hover:text-white"
        >
          Summary & View Schema
        </a>
      </div>
      <h4 class="mt-3 text-base font-semibold text-center">Form/s Preview</h4>
      <div class="flex flex-col w-full px-5 mx-auto mt-3 border border-gray-400 border-dashed rounded-md bg-gray-50">
        <ng-container *ngIf="formComponents[0]?.components?.length > 0">
          <section class="relative flex justify-between my-8">
            <nav
              tuiTabs
              vertical="left"
              class="w-32 mr-5"
            >
              <ng-container *ngFor="let tab of formTabs; let j = index">
                <button (click)="activeIndex = j" tuiTab>{{tab}}</button>
              </ng-container>
            </nav>
            <ng-container *ngFor="let form of formComponents; let i = index;">
              <div *ngIf="activeIndex == i" class="w-full well jsonviewer">
                <div class="flex justify-end">
                  <div class="absolute z-10 flex justify-end -top-7 right-1 gap-x-2">
                    <a (click)="addDefaultData(i, defaultForm)" class="rounded-md cursor-pointer mt-[0.5px]" title="Add default data">
                      <i class="text-green-500 hover:text-green-600 fa fa-table fa-2x" aria-hidden="true"></i>
                    </a>
                    <a (click)="sendFormForEdit(i)" class="rounded-md cursor-pointer" title="Edit Form">
                      <i class="text-blue-500 hover:text-blue-600 fa fa-pencil-square fa-2x" aria-hidden="true"></i>
                    </a>
                    <a (click)="deleteFormDialog(deltemplate, i)" class="rounded-md cursor-pointer">
                      <i class="text-red-500 fa fa-trash fa-2x hover:text-red-600" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <formio [language]="language" [options]="options" [form]="form" [submission]="deafultFormSubmission[i]"></formio>
              </div>
            </ng-container>

          </section>
        </ng-container>
        <ng-container *ngIf="formComponents[0]?.components?.length == 0 || formComponents?.length == 0">
          <div class="grid grid-cols-12 gap-2">
            <div data-placeholder class="h-8 col-span-12 my-3 overflow-hidden bg-gray-200 rounded-md"></div>
            <div class="grid grid-cols-12 col-span-12 gap-2">
              <div data-placeholder class="col-span-6 mb-3 overflow-hidden bg-gray-200 rounded-md h-28"></div>
              <div data-placeholder class="col-span-6 mb-3 overflow-hidden bg-gray-200 rounded-md h-28"></div>
            </div>
            <div class="grid grid-cols-12 col-span-12 gap-2">
              <div data-placeholder class="h-8 col-span-6 my-3 overflow-hidden bg-gray-200 rounded-md"></div>
              <div data-placeholder class="h-8 col-span-6 my-3 overflow-hidden bg-gray-200 rounded-md"></div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="w-full mx-auto my-1">
        <p class="text-xs text-gray-500">The form/s you add will appear here</p>
      </div>
    </div>

    <!--Add new Form-->
    <div class="mt-7">
      <a (click)="saveDraft()" class="px-5 py-3 rounded-lg bg-[#a58f81] no-underline text-white cursor-pointer hover:text-white">
        {{formComponents[0]?.components?.length == 0 ? 'Add form' : 'Add form'}}
      </a>
    </div>

    <div class="flex justify-center gap-2 mt-10">
      <button
        tuiButton
        type="button"
        size="m"
        appearance="primary"
        (click)="saveSubModule()"
        [showLoader]="(isCreatingSubModule | async) == true"
      >
        Publish
      </button>
      <button
        tuiButton
        type="button"
        size="m"
        appearance="secondary"
        (click)="saveSubModule(3)"
        [showLoader]="(isSavingAsDraft | async) == true"
      >
        Save as Draft
      </button>
      <button
        tuiButton
        type="button"
        size="m"
        appearance="accent"
        (click)="cancelSubmodule()"
      >Cancel</button>
    </div>
  </form>
</section>
<app-footer></app-footer>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="w-full mt-1 text-left fv-plugins-message-container text-xxs 2xl:text-xs">
      <span class="text-xs text-red-400 fv-help-block 2xl:text-xs 2xl:mb-2" role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>

<!--Email Notify Modal-->
<ng-template #template>
  <p class="text-lg font-semibold text-center">Email Notification Users</p>
  <p class="mt-3 text-base font-medium text-gray-500">
    Please specify the users you want to send the notification email to
  </p>
  <div class="flex flex-col justify-center my-5">
    <tui-input-tag
      [formControl]="
        currentFieldArray?.controls[activeEmailIndex]?.controls['emailNotifyTo']
      "
      class="b-form"
      [tuiTextfieldLabelOutside]="true"
      (searchChange)="onSearchChange($event)"
    >
      Type to search and press Enter to select...
      <tui-data-list-wrapper
        *tuiDataList
        [items]="userListForEmail"
      ></tui-data-list-wrapper>
    </tui-input-tag>
  </div>
  <div class="flex justify-start gap-x-3">
    <button tuiButton type="button" size="m" (click)="validateEmails()">
      Confirm
    </button>
    <button appearance="accent" tuiButton type="button" size="m" (click)="cancelEmailNotify()">
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #hint>
  <strong class="text-base">How conditions work?</strong>
  <hr>
  <ul class="mt-2">
    <li><strong>AND</strong> implies that every user of the step must provide approval</li>
    <li class="my-2"><strong>OR</strong> implies that any one of the users may provide approval</li>
    <li><strong>NONE</strong> implies that there is only one user per step and hence no conditon is necessary</li>
  </ul>
</ng-template>

<ng-template #hintAdmin>
  <strong class="text-base text-center">Admin Users</strong>
  <hr>
  <p class="mt-2 leading-5">
    Admin Users have access to create, delete and modify submissions as well as child apps within a specified application
  </p>
</ng-template>

<ng-template #hintViewOnly>
  <strong class="text-base text-center">View Only Users</strong>
  <hr>
  <p class="mt-2 leading-5">
    View Only Users have read-only access. They may view submissions and child apps but may not modify or delete them
  </p>
</ng-template>

<ng-template #summarySchemaTemplate let-observer>
  <h2 class="mt-8 text-lg font-semibold text-center">Modify Summary & View Schema</h2>
  <div [formGroup]="schemaForm" class="w-[80%] mx-auto my-8">
    <label class="mb-2 font-medium">Summary Schema <sup>(Optional)</sup></label>
    <tui-multi-select
      formControlName="summarySchema"
      [tuiTextfieldLabelOutside]="true"
      (ngModelChange)="applySummarySchemaValuesToViewSchema($event)"
    >
      Summary schema fields
      <tui-data-list-wrapper
        *tuiDataList
        [items]="summarySchemaFields"
      ></tui-data-list-wrapper>
    </tui-multi-select>
    <p class="mt-1 text-xxs">Type the fieldname and press Enter to add. e.g. formKey.fieldValue</p>

    <!--View Schema-->
    <div class="mt-7">
      <ng-container formArrayName="viewSchema">
        <label class="mb-2 font-medium">View Schema <sup>(Optional)</sup></label>
        <ng-container *ngFor="let schema of viewSchema.controls; let i = index; let first = first; let last = last">
          <div [formGroupName]="i" class="grid grid-cols-12 gap-2 mb-3">

            <tui-select
              [tuiTextfieldLabelOutside]="true"
              formControlName="fieldKey"
              class="col-span-4"
            >
              View schema field
              <tui-data-list-wrapper
                *tuiDataList
                [items]="schemaForm?.controls['summarySchema']?.value"
              ></tui-data-list-wrapper>
            </tui-select>

            <!--Display As-->
            <tui-input
              formControlName="displayAs"
              class="col-span-4"
              [tuiTextfieldLabelOutside]="true"
            >
              <input
                tuiTextfield
                [tuiTextfieldLabelOutside]="true"
                type="text"
              />
                <p class="mt-2">Field label</p>
            </tui-input>

            <!--Type-->
            <tui-select formControlName="type" class="col-span-3">
              Specify data type
              <input
                placeholder="Specify data type"
                tuiTextfield
              />
              <tui-data-list-wrapper
                *tuiDataList
                [items]="selectItems"
              ></tui-data-list-wrapper>
            </tui-select>

            <!--Show?-->
            <!-- <tui-checkbox-labeled formControlName="isDisplayedInGrid" class="col-span-2 mt-3">
              Display in Grid?
              <div class="text-gray-400 text-xxs">Specify whether this component should be displayed in the grid</div>
            </tui-checkbox-labeled> -->
            <button
              tuiIconButton
              type="button"
              size="s"
              class="col-span-1 mt-2"
              appearance="secondary-destructive"
              icon="tuiIconTrash2"
              (click)="deleteViewSchema(i)"
            ></button>
          </div>
        </ng-container>
        <div class="flex justify-end my-2">
          <button
            tuiIconButton
            type="button"
            size="s"
            appearance="primary"
            icon="tuiIconPlus"
            (click)="addViewSchema()"
          ></button>
        </div>
      </ng-container>
    </div>
  </div>
  <!--Action BTNS-->
  <div class="flex justify-center gap-2">
    <button
      tuiButton
      type="button"
      size="m"
      appearance="primary"
      (click)="setSummaryAndViewSchema()"
    >
      Confirm
    </button>

    <button
      tuiButton
      type="button"
      size="m"
      appearance="accent"
      (click)="closeSchemaDialog()"
    >
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #deltemplate let-observer>
  <p class="pb-2 text-xl font-semibold text-center border-b border-gray-400">Delete Form</p>
  <p class="mt-4 text-base font-medium text-center">Are you sure you want to delete this form?</p>
  <div class="flex justify-center mt-4">
    <button
      tuiButton
      appearance="secondary-destructive"
      type="button"
      size="m"
      class="mx-3"
      (click)="deleteForm(); observer.complete()"
      >
      Confirm
    </button>

    <button
      tuiButton
      type="button"
      size="m"
      (click)="observer.complete()"
      >
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #defaultForm let-observer>
  <h2 class="mt-8 text-lg font-semibold text-center">Add default data</h2>
  <div class="w-[90%] mx-auto">
    <formio
      [options]="options"
      [form]="formForDefaultData"
      (change)="onChangeForm($event)"
      [submission]="deafultFormSubmission[defaultFormIndex]"
    ></formio>
  </div>
  <div class="flex justify-center gap-2 mb-5">
    <button
      tuiButton
      type="button"
      size="m"
      appearance="primary"
      (click)="confirmDefaultSubmission()"
    >
      Confirm
    </button>

    <button
      tuiButton
      type="button"
      size="m"
      appearance="accent"
      (click)="observer.complete()"
    >
      Cancel
    </button>
  </div>
</ng-template>

