<app-header></app-header>

<section class="w-11/12 h-auto min-h-screen mx-auto mt-52 pb-44">
  <ng-container *ngIf="(loadingData | async) == false; else showSkeleton">
    <div class="flex justify-between">
      <p class="text-lg font-semibold">Forms</p>
      <div class="flex items-center justify-center">
        <!--Delete-->
        <a
          title="Delete"
          *ngIf="checkIfLoggedInUserIsPartOfActiveUsers() == true && workflowData?.submissionStatus !== 5 && (workflowProgress | async) < 100"
          (click)="showDeleteDialog(dialog, 'delete')"
          class="font-medium ml-2 px-2 py-1 bg-[#cf2729] text-white rounded-md hover:text-white no-underline cursor-pointer text-xs">
          <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>&nbsp; Delete
        </a>
      <!--Cancel-->
        <a
          title="Cancel Submission"
          *ngIf="checkIfLoggedInUserIsPartOfActiveUsers() == true && workflowData?.submissionStatus !== 5 && (workflowProgress | async) < 100"
          (click)="showDeleteDialog(dialog, 'cancel')"
          class="font-medium ml-2 px-2 py-1 bg-[#cf5c27] text-white rounded-md hover:text-white no-underline cursor-pointer text-xs">
          <i class="fa fa-ban fa-lg" aria-hidden="true"></i>&nbsp; Cancel
        </a>
        <!--Enable-->
        <a
          title="Enable"
          *ngIf="checkIfLoggedInUserIsPartOfActiveUsers() == true && workflowData?.submissionStatus === 5 && (workflowProgress | async) < 100"
          (click)="showDeleteDialog(dialog, 'enable')"
          class="px-2 py-1 ml-2 text-xs font-medium text-white no-underline bg-green-500 rounded-md cursor-pointer hover:text-white">
          <i class="fa fa-power-off fa-lg" aria-hidden="true"></i>&nbsp; Enable
        </a>
      </div>
    </div>
      <div class="flex flex-col w-full px-5 mx-auto mt-5 border border-gray-400 border-dashed rounded-md bg-gray-50">
        <section class="flex justify-between my-8">
          <nav
            tuiTabs
            vertical="left"
            class="w-32 mr-5"
          >
            <ng-container *ngFor="let tab of formTabs; let j = index">
              <button id="form-title-id" (click)="activeIndex = j" tuiTab>{{tab}}</button>
            </ng-container>
          </nav>
          <ng-container *ngFor="let form of formWithWorkflow; let i = index;">
            <div *ngIf="activeIndex == i" class="w-full well jsonviewer">
              <div *ngIf="checkIfLoggedInUserIsPartOfActiveUsers() == true" class="flex justify-end">
                <button (click)="downloadAsPDF()" class="px-2 py-1 rounded-md ml-2 bg-[#FF0000] text-white">
                  <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i>&nbsp; {{(downloadingPDF | async) == true ? 'Saving...' : 'Save as PDF'}}
                </button>
              </div>
              <formio
                [readOnly]="
                checkIfAllApproved() == true ||
                checkIfLoggedInUserIsPartOfActiveUsers() == false ||
                checkIfUserIsInEditUsers() == false ||
                workflowData?.submissionStatus == 5 ||
                workflowData?.status == 2
                "
                [options]="{'disableAlerts': true}"
                (submit)="updateFormData($event)"
                [submission]="form"
                [form]="form"
                (change)="onChange($event)"
              ></formio>
            </div>
          </ng-container>
        </section>
      </div>

      <section #formPdf>
        <section class="my-10">
          <div class="grid grid-cols-12 gap-2">
            <div class="w-full col-span-9">
              <div class="flex flex-col">
                <div class="mb-5">
                  <p class="text-lg font-semibold">Approval Workflow</p>
                </div>
                <div>
                  <p class="font-semibold text-gray-700">Progress: </p>
                  <label tuiProgressLabel>
                    <span class="font-semibold text-gray-700">{{ (workflowProgress | async) | number : '1.2-2' }}%</span>
                    <progress
                      tuiProgressBar
                      size="m"
                      [max]="max"
                      [value]="workflowProgress | async"
                      class="w-180"
                      [color]="changeProgressColor((workflowProgress | async))"
                    ></progress>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-span-3 text-sm place-self-end">
              <p class="my-2 text-sm font-semibold text-left">Legend</p>
              <div class="flex flex-col justify-start gap-2">
                <div class="flex gap-1">
                  <div class="w-6 h-6 bg-green-600"></div>
                  <p class="mt-0.5">Approved</p>
                </div>
                <div class="flex gap-1">
                  <div class="h-6 w-6 bg-[#2563EB]"></div>
                  <p class="mt-0.5">Active</p>
                </div>
                <div class="flex gap-1">
                  <div class="w-6 h-6 bg-yellow-600"></div>
                  <p class="mt-0.5">Pending</p>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap justify-start gap-2">
            <ng-container *ngFor="let user of workflowUsers; let i = index; let lastItem = last">
              <tui-island
                size="l"
                class="my-4 shadow-lg w-96"
                [hoverable]="true"
                [ngClass]="(user?.status == 'approved') ? 'border border-green-600' : (user?.status == 'rejected') ? 'border border-red-600' : (user?.status == 'inProgress') ? 'border border-blue-600' : 'border border-yellow-600'"
              >
                <ng-container *ngIf="user?.status == 'pending'">
                  <div class="flex justify-between">
                    <tui-badge
                      class="px-2 font-semibold text-white bg-yellow-600 tui-space_right-2 tui-space_bottom-4"
                      [value]="'Pending'"
                      status="custom"
                    >
                      <tui-svg src="tuiIconClock"></tui-svg>
                    </tui-badge>
                    <div
                      *ngIf="
                        checkIfUserisAllUser() == false &&
                        checkIfLoggedInUserIsPartOfActiveUsers() == false &&
                        userApprovedCheckResult() == false &&
                        user?.status == 'inProgress' &&
                        workflowData?.submissionStatus !== 5 &&
                        workflowData?.status !== 2 &&
                        userRoleCheckAny == true
                      "
                      class="flex justify-end gap-5 decision-buttons"
                    >
                      <span>Approve <tui-toggle [showIcons]="true" (click)="showDialog(user?.approverIds, template)" [showLoader]="showLoader | async" size="l" [formControl]="approve"></tui-toggle></span>
                      <ng-container *ngIf="hideRejectButton(user?.condition, i, user?.approverIds) == false && checkApprovalLogs() == true">
                        <span>Reject <tui-toggle [showIcons]="true" (click)="showDialog(user?.approverIds, template)" [showLoader]="showLoader | async" size="l" [formControl]="reject"></tui-toggle></span>
                      </ng-container>
                    </div>
                  </div>
                  <hr class="mb-2">
                </ng-container>
                <ng-container *ngIf="user?.status == 'inProgress'">
                  <div class="flex justify-between">
                    <tui-badge
                      class="px-2 font-semibold text-white bg-blue-600 tui-space_right-2 tui-space_bottom-4"
                      [value]="'Active'"
                      status="custom"
                    >
                      <tui-svg src="tuiIconRadio"></tui-svg>
                    </tui-badge>
                    <div
                      *ngIf="
                        checkIfUserisAllUser() == false &&
                        checkIfLoggedInUserIsPartOfActiveUsers() == false &&
                        userApprovedCheckResult() == false &&
                        user?.status == 'inProgress' &&
                        workflowData?.submissionStatus !== 5 &&
                        workflowData?.status !== 2 &&
                        userRoleCheckAny == true
                      "
                      class="flex justify-end gap-5 decision-buttons"
                    >
                      <span>Approve <tui-toggle [showIcons]="true" (click)="showDialog(user?.approverIds, template)" [showLoader]="showLoader | async" size="l" [formControl]="approve"></tui-toggle></span>
                      <ng-container *ngIf="hideRejectButton(user?.condition, i, user?.approverIds) == false && checkApprovalLogs() == true">
                        <span>Reject <tui-toggle [showIcons]="true" (click)="showDialog(user?.approverIds, template)" [showLoader]="showLoader | async" size="l" [formControl]="reject"></tui-toggle></span>
                      </ng-container>
                    </div>
                  </div>
                  <hr class="mb-2">
                </ng-container>
                <ng-container *ngIf="user?.status == 'rejected'">
                  <div class="flex justify-between">
                    <tui-badge
                      class="px-2 font-semibold text-white bg-red-600 tui-space_right-2 tui-space_bottom-4"
                      [value]="'Rejected'"
                      status="custom"
                    >
                      <tui-svg src="tuiIconAlertOctagon"></tui-svg>
                    </tui-badge>
                    <div
                      *ngIf="
                        checkIfUserisAllUser() == false &&
                        checkIfLoggedInUserIsPartOfActiveUsers() == false &&
                        userApprovedCheckResult() == false &&
                        user?.status == 'inProgress' &&
                        workflowData?.submissionStatus !== 5 &&
                        workflowData?.status !== 2 &&
                        userRoleCheckAny == true
                      "
                      class="flex justify-end gap-5 decision-buttons"
                    >
                      <span>Approve <tui-toggle [showIcons]="true" (click)="showDialog(user?.approverIds, template)" [showLoader]="showLoader | async" size="l" [formControl]="approve"></tui-toggle></span>
                      <ng-container *ngIf="hideRejectButton(user?.condition, i, user?.approverIds) == false && checkApprovalLogs() == true">
                        <span>Reject <tui-toggle [showIcons]="true" (click)="showDialog(user?.approverIds, template)" [showLoader]="showLoader | async" size="l" [formControl]="reject"></tui-toggle></span>
                      </ng-container>
                    </div>
                  </div>
                  <hr class="mb-2">
                </ng-container>
                <ng-container *ngIf="user?.status == 'approved'">
                  <tui-badge
                    class="px-2 font-semibold text-white bg-green-600 tui-space_right-2 tui-space_bottom-4"
                    [value]="'Approved'"
                    status="custom"
                  >
                    <tui-svg src="tuiIconCheckCircle"></tui-svg>
                  </tui-badge>
                  <hr class="mb-2">
                </ng-container>
                <ul class="tui-list">
                  <ng-container *ngFor="let approvers of user?.approverIds; let j = index; let first = first; let last = last">
                    <li class="tui-list__item">
                      <div class="flex justify-between">
                        <span class="text-base font-semibold">
                          {{approvers?.name}}
                        </span>
                        <span *ngIf="checkApprovedStatus(approvers?.name, i) === true">
                          <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                        </span>
                        <div
                          *ngIf="
                            currentUser?.fullName === approvers?.name &&
                            checkIfUserisStillActive(currentUser?.fullName) == true &&
                            checkIfUserRejected(user?.approverIds) == false &&
                            userApprovedCheckResult() == false &&
                            user?.status == 'inProgress' &&
                            workflowData?.submissionStatus !== 5 &&
                            workflowData?.status !== 2
                          "
                          class="flex justify-end gap-5 decision-buttons"
                        >
                          <span>Approve <tui-toggle [showIcons]="true" (click)="showDialog(approvers, template)" [showLoader]="showLoader | async" size="l" [formControl]="approve"></tui-toggle></span>
                          <ng-container *ngIf="hideRejectButton(user?.condition, i, user?.approverIds) == false && checkApprovalLogs() == true">
                            <span>Reject <tui-toggle [showIcons]="true" (click)="showDialog(approvers, template)" [showLoader]="showLoader | async" size="l" [formControl]="reject"></tui-toggle></span>
                          </ng-container>
                        </div>
                      </div>
                    </li>
                    <p class="mt-2 ml-6 font-normal" *ngIf="!last">{{user?.condition}}</p>
                  </ng-container>
                </ul>
              </tui-island>
              <div class="flex items-center">
                <i *ngIf="!lastItem" class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i>
              </div>
            </ng-container>
          </div>
        </section>
        <!--Workflow progress-->
        <section class="my-4">
          <p class="mb-5 text-lg font-semibold">Approval Logs</p>
          <div class="grid grid-cols-12">
            <div class="col-span-11">
              <tui-island size="l" class="w-full shadow-lg">
                <ng-container *ngIf="approvalLogs?.length == 0">
                  <p class="py-5 text-base font-semibold text-center text-gray-500">Approval logs are empty!</p>
                </ng-container>
                <ng-container *ngFor="let log of approvalLogs; let i = index">
                  <div class="grid grid-cols-12 py-3 border-b border-gray-300 gap-x-3">
                    <p class="col-span-3 font-normal">Performed by: &nbsp; <span [ngClass]="log?.approvalStatus == 'approved' ? 'text-green-500': 'text-gray-600'" class="font-semibold">{{log?.performedById?.fullName}}</span></p>
                    <p class="col-span-2 font-normal">Action: &nbsp; <span [ngClass]="log?.approvalStatus == 'approved' ? 'text-green-500': 'text-gray-600'" class="font-semibold capitalize">{{log?.approvalStatus}}</span></p>
                    <p class="col-span-4 font-normal">
                      Approved On: <span [ngClass]="log?.approvalStatus == 'approved' ? 'text-green-500': 'text-gray-600'" class="font-semibold">&nbsp;{{log?.approvedOn | date: 'medium'}}</span>
                    </p>
                    <p class="col-span-3 font-normal">Comments:
                      <span [ngClass]="log?.approvalStatus == 'approved' ? 'text-green-500': 'text-gray-600'" class="font-semibold">&nbsp;{{log?.remarks}}</span>
                    </p>
                  </div>
                </ng-container>
              </tui-island>
            </div>
          </div>
        </section>
    </section>
  </ng-container>

  <ng-template #showSkeleton>
    <app-workflow-skeleton></app-workflow-skeleton>
  </ng-template>
</section>

<app-footer></app-footer>

<ng-template #template let-observer>
  <p class="text-lg font-semibold text-center">You have chosen to
    <span class="mx-1 text-lg font-semibold" [ngClass]="approve?.value == true ? 'text-green-500' : 'text-red-500'">{{approve?.value == true ? 'Approve': 'Reject'}}</span> this step.
  </p>
  <p class="mt-3 text-base font-medium">Please add your comments below (if any) and send your decision</p>
  <div class="flex flex-col justify-center my-5">
    <label class="block" for="Textarea1">Comments</label>
    <textarea [formControl]="remarks" class="form-control" id="Textarea1" rows="4"></textarea>
  </div>
  <div class="flex justify-start gap-x-3">
    <button
      tuiButton
      type="button"
      [showLoader]="(savingDecision | async)"
      size="m"
      (click)="sendApproveOrRejectDecisionData();"
    >
      Send
    </button>
    <button
      tuiButton
      type="button"
      appearance="accent"
      size="m"
      (click)="cancelDecision(); observer.complete()"
    >
      Cancel
    </button>
  </div>
</ng-template>

<ng-template
  #content
>
  <ng-container *ngIf="index == 3">
    <span class="font-semibold">{{labels[index]}}</span> indicates that the previous user or previous step user/s must provide approval for workflow to proceed
  </ng-container>
  <ng-container *ngIf="index == 0">
    <span class="font-semibold">{{labels[index]}}</span> indicates that users of the step can perform workflow actions.
  </ng-container>
  <ng-container *ngIf="index == 1">
    <span class="font-semibold">{{labels[index]}}</span> indicates that all users of the step have provided approval and the step is complete.
  </ng-container>
  <ng-container *ngIf="index == 2">
    <span class="font-semibold">{{labels[index]}}</span> indicates that the step is not currently active and no action has been performed yet.
  </ng-container>
</ng-template>

<ng-template #dialog let-observer>
  <p class="mb-5 text-lg font-semibold text-center">
    {{dialogTitle}} Submission
  </p>
  <p class="text-base font-semibold text-center">
    You are about to <span [ngClass]="dialogTitle == 'Delete' ? 'text-red-500': 'text-[#cf5c27]'">{{dialogTitle}}</span> this submission. Are you sure you want to continue?
  </p>
  <div class="flex flex-col justify-center my-5">
    <label class="block" for="Textarea1">Comments <sup>(optional)</sup></label>
    <textarea [formControl]="remarks" class="form-control" id="Textarea1" rows="4"></textarea>
  </div>
  <div class="flex justify-start gap-2">
    <button
      tuiButton
      type="button"
      size="m"
      [showLoader]="(sendingDecision | async) == true"
      (click)="sendDeleteOrCancelDecision(); observer.complete()"
    >
      Confirm
    </button>
    <button
      tuiButton
      appearance="secondary-destructive"
      type="button"
      size="m"
      (click)="remarks.reset(); observer.complete()"
    >
      Cancel
    </button>
  </div>
</ng-template>

