<app-header></app-header>

<section class="w-11/12 h-auto min-h-screen mx-auto mt-52 pb-44">
  <ng-container *ngIf="(loadingData | async) == false; else showSkeleton">
    <div class="flex justify-between">
      <p class="text-lg font-semibold">Forms</p>
      <div class="flex items-center justify-center">
        <!--Delete-->
        <a
          title="Delete"
          *ngIf="
          (
            checkIfLoggedInUserIsPartOfActiveUsers() == true &&
            workflowData?.submissionStatus !== 5 &&
            (workflowProgress | async) < 100
          ) ||
          (
            currentUser?.roles?.includes('sysAdmin') &&
            workflowData?.submissionStatus !== 5 &&
            (workflowProgress | async) < 100
          ) ||
          (
            checkIfUserIsInAdminUsers() == true &&
            workflowData?.submissionStatus !== 5 &&
            (workflowProgress | async) < 100
          )
          "
          (click)="showDeleteDialog(dialog, 'delete')"
          class="font-medium ml-2 px-2 py-1 bg-[#cf2729] text-white rounded-md hover:text-white no-underline cursor-pointer text-xs">
          <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>&nbsp; Delete
        </a>
      <!--Cancel-->
        <a
          title="Cancel Submission"
          *ngIf="
          (
            checkIfLoggedInUserIsPartOfActiveUsers() == true &&
            workflowData?.submissionStatus !== 5 &&
            (workflowProgress | async) < 100
          ) ||
          (
            currentUser?.roles?.includes('sysAdmin') &&
            workflowData?.submissionStatus !== 5 &&
            (workflowProgress | async) < 100
          ) ||
          (
            checkIfUserIsInAdminUsers() == true &&
            workflowData?.submissionStatus !== 5 &&
            (workflowProgress | async) < 100
          )
          "
          (click)="showDeleteDialog(dialog, 'cancel')"
          class="font-medium ml-2 px-2 py-1 bg-[#cf5c27] text-white rounded-md hover:text-white no-underline cursor-pointer text-xs">
          <i class="fa fa-ban fa-lg" aria-hidden="true"></i>&nbsp; Cancel
        </a>
        <!--Enable-->
        <a
          title="Re-Activate"
          *ngIf="
          (
            checkIfLoggedInUserIsPartOfActiveUsers() == true &&
            workflowData?.submissionStatus === 5 &&
            (workflowProgress | async) < 100
          ) ||
          (
            currentUser?.roles?.includes('sysAdmin') &&
            workflowData?.submissionStatus === 5 &&
            (workflowProgress | async) < 100
          ) ||
          (
            checkIfUserIsInAdminUsers() == true &&
            workflowData?.submissionStatus === 5 &&
            (workflowProgress | async) < 100
          )
          "
          (click)="showDeleteDialog(dialog, 'enable')"
          class="px-2 py-1 ml-2 text-xs font-medium text-white no-underline bg-green-500 rounded-md cursor-pointer hover:text-white">
          <i class="fa fa-power-off fa-lg" aria-hidden="true"></i>&nbsp; Re-Activate
        </a>
      </div>
    </div>
    <div class="flex flex-col w-full px-5 mx-auto mt-5 border border-gray-400 border-dashed rounded-md bg-gray-50">
      <section class="flex justify-between my-8">
        <nav
          tuiTabs
          vertical="left"
          class="w-32 mr-5"
        >
          <ng-container *ngFor="let tab of formTabs; let j = index">
            <button id="form-title-id" (click)="activeIndex = j" tuiTab>{{tab}}</button>
          </ng-container>
        </nav>
        <ng-container *ngFor="let form of formWithWorkflow; let i = index;">
          <div [ngClass]="activeIndex == i ? 'block': 'hidden'" class="w-full well jsonviewer">
            <formio
              #formioForm
              [readOnly]="
                workflowData?.submissionStatus == 3 ||
                (checkIfAllApproved() == true ||
                checkIfLoggedInUserIsPartOfActiveUsers() == false ||
                checkIfUserIsInEditUsers() == false ||
                workflowData?.submissionStatus == 5 ||
                workflowData?.status == 2) &&
                this.userRoleSysAdmin == false
              "
              [options]="{'disableAlerts': true}"
              [submission]="sanitizeSubmission(formValues[i]) || sanitizeSubmission(form)"
              [form]="form"
              (change)="onChange($event, i)"
            ></formio>
          </div>
        </ng-container>
      </section>
    </div>
    <div class="flex justify-end my-4 gap-x-3">
      <button
        tuiButton
        type="button"
        [showLoader]="(savingDecision | async)"
        size="m"
        [disabled]=" workflowData?.submissionStatus == 3 ||
        (checkIfAllApproved() == true ||
        checkIfLoggedInUserIsPartOfActiveUsers() == false ||
        checkIfUserIsInEditUsers() == false ||
        workflowData?.submissionStatus == 5 ||
        workflowData?.status == 2) &&
        this.userRoleSysAdmin == false"
        (click)="updateFormData()"
      >
        Update Forms Data
      </button>
      <button
        tuiButton
        type="button"
        appearance="accent"
        [showLoader]="(savingDecision | async)"
        size="m"
        (click)="backToListing()"
      >
        Back to Listing
      </button>
    </div>
    <section #formPdf>
      <section class="my-10">
        <div class="grid grid-cols-12 gap-2">
          <div class="w-full col-span-9">
            <div class="flex flex-col">
              <div class="mb-5">
                <p class="text-lg font-semibold">Approval Workflow</p>
              </div>
              <div>
                <p class="font-semibold text-gray-700">Progress: </p>
                <label tuiProgressLabel>
                  <span class="font-semibold text-gray-700">{{ (workflowProgress | async) | number : '1.2-2' }}%</span>
                  <progress
                    tuiProgressBar
                    size="m"
                    [max]="max"
                    [value]="workflowProgress | async"
                    class="w-180"
                    [color]="changeProgressColor((workflowProgress | async))"
                  ></progress>
                </label>
              </div>
            </div>
          </div>
          <div class="col-span-3 text-sm place-self-end">
            <p class="my-2 text-sm font-semibold text-left">Legend</p>
            <div class="flex flex-col justify-start gap-2">
              <div class="flex gap-1">
                <div class="w-6 h-6 bg-green-600"></div>
                <p class="mt-0.5">Approved Step</p>
              </div>
              <div class="flex gap-1">
                <div class="h-6 w-6 bg-[#2563EB]"></div>
                <p class="mt-0.5">Active Step</p>
              </div>
              <div class="flex gap-1">
                <div class="w-6 h-6 bg-yellow-600"></div>
                <p class="mt-0.5">Pending Step</p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap justify-start gap-2">
          <ng-container *ngFor="let user of workflowUsers; let i = index; let lastItem = last; let firstItem = first">
            <tui-island
              size="l"
              class="my-4 shadow-lg w-[398px]"
              [hoverable]="true"
              [ngClass]="(user?.status == 'approved') ? 'border border-green-600' : (user?.status == 'rejected') ? 'border border-red-600' : (user?.status == 'inProgress') ? 'border border-blue-600' : 'border border-yellow-600'"
            >
              <ng-container *ngIf="user?.status == 'pending'">
                <tui-badge
                  class="px-2 font-semibold text-white bg-yellow-600 tui-space_right-2 tui-space_bottom-4"
                  [value]="'Pending'"
                  status="custom"
                >
                  <tui-svg src="tuiIconClock"></tui-svg>
                </tui-badge>
                <ng-container *ngIf="(userRoleSysAdmin == true || checkAdminUsersForWorkflow() == true) && (workflowData?.submissionStatus != 5 || workflowData?.submissionStatus != 2 || workflowData?.submissionStatus != 3)">
                  <button (click)="openEditUserDialog(editUsersDialog, user)" class="float-right px-2 mx-2 text-white bg-blue-400 rounded-md">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>
                  <button (click)="openDeleteUserDialog(deleteTemplate, user)" class="float-right px-2 text-white bg-red-500 rounded-md">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </ng-container>
                <hr class="mb-2">
              </ng-container>
              <ng-container *ngIf="user?.status == 'inProgress'">
                <tui-badge
                  class="px-2 font-semibold text-white bg-blue-600 tui-space_right-2 tui-space_bottom-4"
                  [value]="'Active'"
                  status="custom"
                >
                  <tui-svg src="tuiIconRadio"></tui-svg>
                </tui-badge>
                <ng-container *ngIf="(userRoleSysAdmin == true || checkAdminUsersForWorkflow() == true) && (workflowData?.submissionStatus != 5 || workflowData?.submissionStatus != 2 || workflowData?.submissionStatus != 3)">
                  <button (click)="openEditUserDialog(editUsersDialog, user)" class="float-right px-2 mx-2 text-white bg-blue-400 rounded-md">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>
                  <button (click)="openDeleteUserDialog(deleteTemplate, user)" class="float-right px-2 text-white bg-red-500 rounded-md">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </ng-container>
                <hr class="mb-2">
              </ng-container>
              <ng-container *ngIf="user?.status == 'rejected'">
                <div class="flex justify-between">
                  <tui-badge
                    class="px-2 font-semibold text-white bg-red-600 tui-space_right-2 tui-space_bottom-4"
                    [value]="'Rejected'"
                    status="custom"
                  >
                    <tui-svg src="tuiIconAlertOctagon"></tui-svg>
                  </tui-badge>
                </div>
                <hr class="mb-2">
              </ng-container>
              <ng-container *ngIf="user?.status == 'approved'">
                <tui-badge
                  class="px-2 font-semibold text-white bg-green-600 tui-space_right-2 tui-space_bottom-4"
                  [value]="!firstItem ? 'Approved': 'Created'"
                  status="custom"
                >
                  <tui-svg src="tuiIconCheckCircle"></tui-svg>
                </tui-badge>
                <hr class="mb-2">
              </ng-container>
              <ul class="tui-list">
                <ng-container *ngFor="let approvers of user?.approverIds; let j = index; let first = first; let last = last">
                  <li class="tui-list__item">
                    <div class="flex justify-between">
                      <span class="text-base font-semibold">
                        {{approvers?.name}}
                      </span>
                      <span *ngIf="checkApprovedStatus(approvers?.name, i) === true">
                        <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                      </span>
                      <div
                        *ngIf="
                          (user?.status == 'inProgress' &&
                          checkApproveOrRejectButtons(user, approvers?.id) == true &&
                          checkIfUserisStillActive(currentUser?.fullName) == true &&
                          userApprovedCheckResult(approvers?.name) == false
                        )"
                        class="flex justify-end gap-5 decision-buttons"
                      >
                        <span>Approve
                          <tui-toggle
                            [showIcons]="true"
                            (click)="showDialog(approvers, template)"
                            size="l"
                            [formControl]="approve"
                          ></tui-toggle>
                        </span>
                        <ng-container *ngIf="hideRejectButton(user?.condition, i, user?.approverIds) == false && checkApprovalLogs() == true">
                          <span>Reject
                            <tui-toggle
                              [showIcons]="true"
                              (click)="showDialog(approvers, template)"
                              size="l"
                              [formControl]="reject"
                            >
                            </tui-toggle>
                          </span>
                        </ng-container>
                      </div>
                    </div>
                  </li>
                  <p class="mt-2 ml-6 font-normal" *ngIf="!last">{{user?.condition}}</p>
                </ng-container>
              </ul>
            </tui-island>
            <div class="flex items-center">
              <i *ngIf="!lastItem" class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i>
            </div>
            <div *ngIf="
              lastItem && (userRoleSysAdmin == true || checkAdminUsersForWorkflow() == true) &&
              (workflowData?.submissionStatus !== 5 &&
                workflowData?.submissionStatus !== 3
              )"
              class="flex items-center"
            >
              <button tuiIconButton icon="tuiIconPlusCircleLarge" size="m" (click)="openAddStepDialog(addUserDialog)"></button>
            </div>
          </ng-container>
        </div>
      </section>
      <!--Approval Logs-->
      <section class="my-4">
        <p class="mb-5 text-lg font-semibold">Approval Logs</p>
        <div class="grid grid-cols-12">
          <div class="col-span-11">
            <tui-island size="l" class="w-full shadow-lg">
              <ng-container *ngIf="approvalLogs?.length == 0">
                <p class="py-5 text-base font-semibold text-center text-gray-500">Approval logs are empty!</p>
              </ng-container>
              <ng-container *ngFor="let log of approvalLogs; let i = index">
                <div class="grid grid-cols-12 py-3 border-b border-gray-300 gap-x-3">
                  <p class="col-span-3 font-normal">Performed by: &nbsp; <span [ngClass]="log?.approvalStatus == 'approved' ? 'text-green-500': 'text-gray-600'" class="font-semibold">{{log?.onBehalfOf ? log?.onBehalfOf?.fullName + ' on behalf of ' + log?.performedById?.fullName : log?.performedById?.fullName}}</span></p>
                  <p class="col-span-2 font-normal">Action: &nbsp; <span [ngClass]="log?.approvalStatus == 'approved' ? 'text-green-500': 'text-gray-600'" class="font-semibold capitalize">{{log?.approvalStatus}}</span></p>
                  <p class="col-span-4 font-normal">
                    Approved On: <span [ngClass]="log?.approvalStatus == 'approved' ? 'text-green-500': 'text-gray-600'" class="font-semibold">&nbsp;{{log?.approvedOn | date: 'medium'}}</span>
                  </p>
                  <p class="col-span-3 font-normal">Comments:
                    <span [ngClass]="log?.approvalStatus == 'approved' ? 'text-green-500': 'text-gray-600'" class="font-semibold">&nbsp;{{log?.remarks}}</span>
                  </p>
                </div>
              </ng-container>
            </tui-island>
          </div>
        </div>
      </section>
    </section>
  </ng-container>

  <ng-template #showSkeleton>
    <app-workflow-skeleton></app-workflow-skeleton>
  </ng-template>
</section>

<app-footer></app-footer>

<ng-template #template let-observer>
  <p class="text-lg font-semibold text-center">You have chosen to
    <span class="mx-1 text-lg font-semibold" [ngClass]="approve?.value == true ? 'text-green-500' : 'text-red-500'">{{approve?.value == true ? 'Approve': 'Reject'}}</span> this step.
  </p>
  <p class="mt-3 text-base font-medium">Please add your comments below (if any) and send your decision</p>
  <div class="flex flex-col justify-center my-5">
    <label class="block" for="Textarea1">Comments</label>
    <textarea [formControl]="remarks" class="form-control" id="Textarea1" rows="4"></textarea>
  </div>
  <div class="flex justify-start gap-x-3">
    <button
      tuiButton
      type="button"
      [showLoader]="(savingDecision | async)"
      size="m"
      (click)="sendApproveOrRejectDecisionData();"
    >
      Submit
    </button>
    <button
      tuiButton
      type="button"
      appearance="accent"
      size="m"
      (click)="cancelDecision(); observer.complete()"
    >
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #dialog let-observer>
  <p class="mb-5 text-lg font-semibold text-center">
    {{dialogTitle}} Submission
  </p>
  <p class="text-base font-semibold text-center">
    You are about to <span [ngClass]="dialogTitle == 'Delete' ? 'text-red-500': 'text-[#cf5c27]'">{{dialogTitle}}</span> this submission. Are you sure you want to continue?
  </p>
  <div class="flex flex-col justify-center my-5">
    <label class="block" for="Textarea1">Comments <sup>(optional)</sup></label>
    <textarea [formControl]="remarks" class="form-control" id="Textarea1" rows="4"></textarea>
  </div>
  <div class="flex justify-start gap-2">
    <button
      tuiButton
      type="button"
      size="m"
      [showLoader]="(sendingDecision | async) == true"
      (click)="sendDeleteOrCancelDecision(); observer.complete()"
    >
      Confirm
    </button>
    <button
      tuiButton
      appearance="secondary-destructive"
      type="button"
      size="m"
      (click)="remarks.reset(); observer.complete()"
    >
      Cancel
    </button>
  </div>
</ng-template>

<!--Edit user step dialog-->
<ng-template #editUsersDialog let-observer>
  <p class="text-lg font-semibold text-center">
    Edit Step Users
  </p>
  <p class="text-xs text-center font-extralight">Users that have not performed an action can be changed</p>
  <div class="flex justify-between gap-2 mt-5">
    <div class="w-full">
      <label class="block pb-1">Users <span class="text-xs text-red-400">*</span></label>
      <tui-multi-select
        [formControl]="control"
        [tuiTextfieldLabelOutside]="true"
        [editable]="true"
        (searchChange)="onSearch($event)"
      >
        Users
        <tui-data-list-wrapper
          *tuiDataList
          tuiMultiSelectGroup
          [items]="userItems"
        ></tui-data-list-wrapper>
      </tui-multi-select>
    </div>
    <div class="w-full">
      <label for="conditionSelect" class="block pb-1">Condition <span class="text-xs text-red-400">*</span></label>
      <tui-select
        tuiTextfieldSize="l"
        [formControl]="condition"
        [tuiTextfieldLabelOutside]="true"
        class="uppercase"
      >
        Condition
        <input
          tuiTextfield
          placeholder="Condition"
        />
        <tui-data-list-wrapper
          *tuiDataList
          [items]="['and', 'or', 'none']"
        ></tui-data-list-wrapper>
    </tui-select>
    </div>
  </div>
  <ng-container *ngIf="control?.hasError('required')">
    <span class="text-xs text-left text-red-500">Please provide at least one user</span>
  </ng-container>
  <ng-container *ngIf="(showConditionError | async) == true">
    <span class="text-xs text-left text-red-500">Please select either AND/OR as condition</span>
  </ng-container>
  <div class="flex justify-start mt-5 gap-x-3">
    <button
      tuiButton
      type="button"
      size="m"
      [showLoader]="(editingStep | async)"
      [disabled]="control?.invalid || (showConditionError | async) == true"
      (click)="updateUserStep()"
    >
      Update
    </button>
    <button
      tuiButton
      type="button"
      appearance="accent"
      size="m"
      (click)="observer.complete()"
    >
      Cancel
    </button>
  </div>
</ng-template>

<!--Delete Step dialog-->
<ng-template #deleteTemplate let-observer>
  <p class="pb-2 text-xl font-semibold text-center border-b border-gray-400">Delete Workflow Step</p>
  <p class="mt-4 text-base font-medium text-center">Are you sure you want to delete this step?</p>
  <div class="flex justify-center mt-4">
    <button
      tuiButton
      appearance="secondary-destructive"
      type="button"
      [showLoader]="(editingStep | async) == true"
      size="m"
      class="mx-3"
      (click)="deleteStep()"
      >
      Confirm
    </button>

    <button
      tuiButton
      type="button"
      size="m"
      (click)="observer.complete()"
      >
      Cancel
    </button>
  </div>
</ng-template>

<!--Add new step dialog-->
<ng-template #addUserDialog let-observer>
  <p class="text-lg font-semibold text-center">
    Add New Step
  </p>
  <div class="flex justify-between gap-2 mt-5">
    <div class="w-full">
      <label class="block pb-1">Users <span class="text-xs text-red-400">*</span></label>
      <tui-multi-select
        [formControl]="addControl"
        [tuiTextfieldLabelOutside]="true"
        [editable]="true"
        (searchChange)="onSearch($event)"
      >
        Users
        <tui-data-list-wrapper
          *tuiDataList
          tuiMultiSelectGroup
          [items]="userItems"
        ></tui-data-list-wrapper>
      </tui-multi-select>
    </div>
    <div class="w-full">
      <label for="conditionSelect" class="block pb-1">Condition <span class="text-xs text-red-400">*</span></label>
      <tui-select
        tuiTextfieldSize="l"
        [formControl]="conditionAddUser"
        [tuiTextfieldLabelOutside]="true"
        class="uppercase"
      >
        Condition
        <input
          tuiTextfield
          placeholder="Condition"
        />
        <tui-data-list-wrapper
          *tuiDataList
          [items]="['and', 'or', 'none']"
        ></tui-data-list-wrapper>
    </tui-select>
    </div>
  </div>
  <ng-container *ngIf="addControl?.hasError('required')">
    <span class="text-xs text-left text-red-500">Please provide at least one user</span>
  </ng-container>
  <ng-container *ngIf="(showConditionError | async) == true">
    <span class="text-xs text-left text-red-500">Please select either AND/OR as condition</span>
  </ng-container>
  <div class="flex justify-start mt-5 gap-x-3">
    <button
      tuiButton
      type="button"
      size="m"
      [showLoader]="(editingStep | async)"
      [disabled]="addControl?.invalid || (showConditionError | async) == true"
      (click)="addNewStep()"
    >
      Create
    </button>
    <button
      tuiButton
      type="button"
      appearance="accent"
      size="m"
      (click)="observer.complete()"
    >
      Cancel
    </button>
  </div>
</ng-template>

<!--APPROVE/REJECt CONDITION
  (
                            currentUser?.fullName === approvers?.name &&
                            checkIfUserisStillActive(currentUser?.fullName) == true &&
                            checkIfUserRejected(user?.approverIds) == false &&
                            userApprovedCheckResult(approvers?.name) == false &&
                            user?.status == 'inProgress' &&
                            workflowData?.submissionStatus !== 5 &&
                            workflowData?.status !== 2
                          ) ||
                          (
                            userApprovedCheckResult(approvers?.name) == false &&
                            user?.status == 'inProgress' &&
                            workflowData?.submissionStatus !== 5 &&
                            workflowData?.status !== 2 &&
                            currentUser?.roles.includes('sysAdmin')
                          ) ||
                          (
                            userApprovedCheckResult(approvers?.name) == false &&
                            user?.status == 'inProgress' &&
                            workflowData?.submissionStatus !== 5 &&
                            workflowData?.status !== 2 &&
                            checkIfUserIsInAdminUsers() == true
                          )
-->
