<app-header></app-header>

<section class="w-11/12 h-auto min-h-screen mx-auto mt-52 pb-44">
  <ng-container *ngIf="(loadingData | async) == false; else showSkeleton">
    <p class="text-lg font-semibold">Forms</p>
    <div class="flex flex-col w-full px-5 mx-auto mt-5 border border-gray-400 border-dashed rounded-md bg-gray-50">
      <section class="flex justify-between my-8">
        <nav
          tuiTabs
          vertical="left"
          class="w-32 mr-5"
        >
          <ng-container *ngFor="let tab of formTabs; let j = index">
            <button (click)="activeIndex = j" tuiTab>{{tab}}</button>
          </ng-container>
        </nav>
        <ng-container *ngFor="let form of formWithWorkflow; let i = index;">
          <div *ngIf="activeIndex == i" class="w-full well jsonviewer">
            <formio [readOnly]="checkIfAllApproved() == true || checkIfLoggedInUserIsPartOfActiveUsers() == false || checkIfUserIsInEditUsers() == false" [options]="{'disableAlerts': true}" (submit)="updateFormData($event)" [submission]="form" [form]="form"></formio>
          </div>
        </ng-container>
  
      </section>
    </div>
  
    <section class="my-10">
      <p class="mb-5 text-lg font-semibold">Approval Workflow</p>
      <div class="flex flex-col items-center justify-center">
        <ng-container *ngFor="let user of workflowUsers; let i = index; let lastItem = last">
          <tui-island
            size="l"
            class="w-1/2 my-4 shadow-lg"
            [hoverable]="true"
            [ngClass]="(user?.status == 'approved') ? 'border border-green-600' : (user?.status == 'rejected') ? 'border border-red-600' : (user?.status == 'inProgress') ? 'border border-blue-600' : 'border border-yellow-600'"
          >
            <ng-container *ngIf="user?.status == 'pending'">
              <tui-badge
                class="px-2 font-semibold text-white bg-yellow-600 tui-space_right-2 tui-space_bottom-4"
                [value]="'Pending'"
                status="custom"
              >
                <tui-svg src="tuiIconClock"></tui-svg>
              </tui-badge>
              <hr class="mb-2">
            </ng-container>
            <ng-container *ngIf="user?.status == 'inProgress'">
              <tui-badge
                class="px-2 font-semibold text-white bg-blue-600 tui-space_right-2 tui-space_bottom-4"
                [value]="'Active'"
                status="custom"
              >
                <tui-svg src="tuiIconRadio"></tui-svg>
              </tui-badge>
              <hr class="mb-2">
            </ng-container>
            <ng-container *ngIf="user?.status == 'rejected'">
              <tui-badge
                class="px-2 font-semibold text-white bg-red-600 tui-space_right-2 tui-space_bottom-4"
                [value]="'Rejected'"
                status="custom"
              >
                <tui-svg src="tuiIconAlertOctagon"></tui-svg>
              </tui-badge>
              <hr class="mb-2">
            </ng-container>
            <ng-container *ngIf="user?.status == 'approved'">
              <tui-badge
                class="px-2 font-semibold text-white bg-green-600 tui-space_right-2 tui-space_bottom-4"
                [value]="'Approved'"
                status="custom"
              >
                <tui-svg src="tuiIconCheckCircle"></tui-svg>
              </tui-badge>
              <hr class="mb-2">
            </ng-container>
  
            <ul class="tui-list">
              <ng-container *ngFor="let approvers of user?.approverIds; let j = index; let first = first; let last = last">
                <li class="tui-list__item">
                  <div class="flex justify-between">
                    <span class="text-base font-semibold">{{approvers?.name}}</span>
                    <div *ngIf="currentUser?.fullName === approvers?.name && checkIfUserisStillActive(currentUser?.fullName) == true && checkIfUserRejected() == false && userApprovedCheckResult() == false && user?.status == 'inProgress'" class="flex justify-end gap-5">
                      <span>Approve &nbsp; <tui-toggle [showIcons]="true" (click)="showDialog(approvers, template)" [showLoader]="showLoader | async" size="l" [formControl]="approve"></tui-toggle></span>
                      <ng-container *ngIf="hideRejectButton(user?.condition, i, user?.approverIds) == false">
                        <span>Reject &nbsp; <tui-toggle [showIcons]="true" (click)="showDialog(approvers, template)" [showLoader]="showLoader | async" size="l" [formControl]="reject"></tui-toggle></span>
                      </ng-container>
                    </div>
                  </div>
                </li>
                <p class="mt-2 ml-8 font-normal" *ngIf="!last">{{user?.condition}}</p>
              </ng-container>
            </ul>
          </tui-island>
          <i *ngIf="!lastItem" class="fa fa-long-arrow-down fa-2x" aria-hidden="true"></i>
        </ng-container>
      </div>
    </section>
  
    <!--Workflow progress-->
    <section class="my-4">
      <p class="mb-5 text-lg font-semibold">Workflow Progress & Approval Logs</p>
      <div class="grid grid-cols-12 gap-3">
        <div class="col-span-2">
          <label
            tuiProgressLabel
          >
            <span class="font-semibold text-gray-600">COMPLETED</span>
            <span class="font-semibold text-gray-700">{{ (workflowProgress | async) | number : '1.2-2' }}%</span>
  
            <tui-progress-circle
              size="xl"
              [max]="max"
              [value]="workflowProgress | async"
              [color]="changeProgressColor((workflowProgress | async))"
            ></tui-progress-circle>
          </label>
        </div>
  
        <div class="col-span-10">
          <tui-island size="l" class="w-full shadow-lg">
            <ng-container *ngIf="approvalLogs?.length == 0">
              <p class="py-5 text-base font-semibold text-center text-gray-500">Approval logs are empty!</p>
            </ng-container>
            <ng-container *ngFor="let log of approvalLogs; let i = index">
              <div class="grid grid-cols-12 py-3 gap-x-3 border-b border-gray-300">
                <p class="col-span-2 font-normal">Performed by: &nbsp; <span [ngClass]="log?.approvalStatus == 'approved' ? 'text-green-500': 'text-red-500'" class="font-semibold">{{log?.performedById?.fullName}}</span></p>
                <p class="col-span-2 font-normal">Decision: &nbsp; <span [ngClass]="log?.approvalStatus == 'approved' ? 'text-green-500': 'text-red-500'" class="font-semibold capitalize">{{log?.approvalStatus}}</span></p>
                <p class="col-span-4 font-normal">
                  Approved On: <span [ngClass]="log?.approvalStatus == 'approved' ? 'text-green-500': 'text-red-500'" class="font-semibold">&nbsp;{{log?.approvedOn | date: 'medium'}}</span>
                </p>
                <p class="col-span-4 font-normal">Comments:
                  <span [ngClass]="log?.approvalStatus == 'approved' ? 'text-green-500': 'text-red-500'" class="font-semibold">&nbsp;{{log?.remarks}}</span>
                </p>
              </div>
            </ng-container>
          </tui-island>
        </div>
      </div>
    </section>
  </ng-container>

  <ng-template #showSkeleton>
    <app-workflow-skeleton></app-workflow-skeleton>
  </ng-template>
</section>

<app-footer></app-footer>

<ng-template #template let-observer>
  <p class="text-lg font-semibold text-center">You have chosen to
    <span class="mx-1 text-lg font-semibold" [ngClass]="approve?.value == true ? 'text-green-500' : 'text-red-500'">{{approve?.value == true ? 'Approve': 'Reject'}}</span> this step.
  </p>
  <p class="mt-3 text-base font-medium">Please add your comments below (if any) and send your decision</p>
  <div class="flex flex-col justify-center my-5">
    <label class="block" for="Textarea1">Comments</label>
    <textarea [formControl]="remarks" class="form-control" id="Textarea1" rows="4"></textarea>
  </div>
  <div class="flex justify-start gap-x-3">
    <button
      tuiButton
      type="button"
      [showLoader]="(savingDecision | async)"
      size="m"
      (click)="sendDecisionData();"
    >
      Send
    </button>
    <button
      tuiButton
      type="button"
      appearance="accent"
      size="m"
      (click)="cancelDecision(); observer.complete()"
    >
      Cancel
    </button>
  </div>
</ng-template>

