<div class="h-3 bg-gray-200 rounded-sm w-48 mb-4 animate-pulse"></div>
<div class="h-48 bg-gray-200 rounded-md w-full mb-4 animate-pulse px-20 py-6">
  <div class="h-2 bg-gray-300 rounded-sm w-64 mb-4 animate-pulse"></div>
  <div class="h-8 bg-gray-300 rounded-sm w-full mb-4 animate-pulse"></div>
  <br>
  <div class="h-2 bg-gray-300 rounded-sm w-64 mb-4 animate-pulse"></div>
  <div class="h-8 bg-gray-300 rounded-sm w-full mb-4 animate-pulse"></div>
</div>

<div class="h-3 bg-gray-300 rounded-sm w-48 mb-4 mt-7 animate-pulse"></div>
<div class="flex flex-col justify-center items-center align-middle">
  <div class="h-44 bg-gray-200 rounded-md w-140 mb-4 animate-pulse px-12 py-7">
    <div class="h-6 bg-gray-300 rounded-full w-28 mb-4 animate-pulse"></div>
    <div class="h-3 bg-gray-300 rounded-sm w-68 mb-4 animate-pulse"></div>
    <div class="h-3 bg-gray-300 rounded-sm w-68 mb-4 animate-pulse"></div>
  </div>
  <div class="h-44 bg-gray-200 rounded-md w-140 mb-4 animate-pulse px-12 py-7">
    <div class="h-6 bg-gray-300 rounded-full w-28 mb-4 animate-pulse"></div>
    <div class="h-3 bg-gray-300 rounded-sm w-68 mb-4 animate-pulse"></div>
    <div class="h-3 bg-gray-300 rounded-sm w-68 mb-4 animate-pulse"></div>
  </div>
</div>

<div class="h-3 bg-gray-300 rounded-sm w-48 my-4 animate-pulse"></div>
<div class="flex justify-between">
  <div class="w-28 h-28 bg-white border-8 rounded-full block border-gray-300"></div>
  <div class="h-40 bg-gray-200 rounded-lg w-full mb-4 animate-pulse ml-4"></div>
</div>