<app-header></app-header>
<div class="bg_img_main">
  <section class="grid w-10/12 grid-cols-12 gap-4 mx-auto mt-48 pb-44">
    <div class="px-12 py-5 bg-white rounded-lg shadow-lg col-span-full">
      <p class="text-2xl font-bold text-center">Create/Edit Module</p>
      <div class="flex justify-center my-6">
        <tui-tabs tuiMobileTabs [(activeItemIndex)]="activeIndex">
          <ng-container
            *ngFor="
              let tab of tabs;
              let i = index;
              let last = last;
              let first = first
            "
          >
            <button
              disabled
              tuiTab
              class="text-base font-semibold text-black"
              [ngClass]="{
                'mr-10': first,
                'ml-10': last,
                'mx-10': !last && !first
              }"
            >
              {{ tab.text }}
            </button>
          </ng-container>
        </tui-tabs>
      </div>
      <form>
        <ng-container *ngIf="activeIndex == 0">
          <form [formGroup]="moduleDetailsForm">
            <div class="my-3">
              <label class="block pb-1"
                >Module Title <span class="text-xs text-red-400">*</span></label
              >
              <input
                required
                [ngClass]="
                  f['moduleTitle']?.invalid && f['moduleTitle']?.dirty
                    ? 'is-invalid'
                    : ''
                "
                formControlName="moduleTitle"
                class="form-control"
                type="text"
              />
              <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'Module Title is required',
                  control: f['moduleTitle']
                }"
              ></ng-container>
            </div>
            <div class="my-7">
              <label class="block pb-1"
                >Module URL <span class="text-xs text-red-400">*</span></label
              >
              <input
                formControlName="moduleURL"
                class="form-control"
                type="text"
              />
            </div>
            <div class="my-7">
              <label class="block pb-1"
                >Module Description
                <span class="text-xs text-red-400">*</span></label
              >
              <textarea
                required
                [ngClass]="
                  f['moduleDescription']?.invalid &&
                  f['moduleDescription']?.dirty
                    ? 'is-invalid'
                    : ''
                "
                formControlName="moduleDescription"
                class="form-control"
                type="text"
                rows="4"
              ></textarea>
              <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'Module Description is required',
                  control: f['moduleDescription']
                }"
              ></ng-container>
            </div>
            <div class="my-7">
              <label class="block pb-1"
                >Module Code <span class="text-xs text-red-400">*</span></label
              >
              <input
                formControlName="moduleCode"
                class="form-control"
                type="text"
              />
            </div>
            <div class="my-7">
              <label class="block pb-1"
                >Module Category
                <span class="text-xs text-red-400">*</span></label
              >
              <select
                formControlName="moduleCategory"
                class="form-control form-select"
                type="text"
              >
                <ng-container *ngIf="categories | async as categories">
                  <ng-container *ngFor="let cat of categories?.results">
                    <option [value]="cat?.id">{{ cat?.name }}</option>
                  </ng-container>
                </ng-container>
              </select>
              <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'Module Category is required',
                  control: f['moduleCategory']
                }"
              ></ng-container>
            </div>

            <div class="my-2">
              <p class="text-xs text-gray-500">
                You can add a new category below
              </p>
            </div>
            <!-- add new category-->
            <div class="my-5">
              <ng-container formArrayName="category">
                <ng-container
                  *ngFor="
                    let categ of category.controls;
                    let i = index;
                    let first = first;
                    let last = last
                  "
                >
                  <div class="w-7/12 px-8" [formGroupName]="i">
                    <div
                      class="flex items-center justify-between w-full gap-2 mb-3"
                    >
                      <div class="w-full">
                        <label
                          *ngIf="i == 0"
                          class="block pb-2 text-xs font-semibold"
                          >Add new categories</label
                        >
                        <input
                          class="form-control"
                          formControlName="title"
                          type="text"
                        />
                      </div>
                      <div [ngClass]="first ? 'mt-7' : 'mt-0'">
                        <button
                          tuiIconButton
                          type="button"
                          size="s"
                          appearance="secondary-destructive"
                          icon="tuiIconTrash2Large"
                          (click)="removeCategory(i)"
                        ></button>
                      </div>
                    </div>
                    <div class="flex justify-end">
                      <button
                        *ngIf="last"
                        tuiButton
                        type="button"
                        class="mb-3"
                        size="m"
                        (click)="submitNewCategory()"
                      >
                        Submit
                      </button>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <button
                *ngIf="category?.length < 1"
                tuiIconButton
                type="button"
                size="m"
                appearance="secondary"
                icon="tuiIconPlusLarge"
                (click)="addCategory()"
              ></button>
            </div>

            <div class="flex justify-end mt-5">
              <button
                (click)="nextStep()"
                type="button"
                class="btn btn-primary"
              >
                Proceed to Default Workflow
              </button>
            </div>
          </form>
        </ng-container>

        <ng-container *ngIf="activeIndex == 1">
          <div [formGroup]="workflowForm">
            <ng-container formArrayName="workflows">
              <ng-container
                *ngFor="let workflow of workflows.controls; let i = index"
              >
                <p class="text-base font-semibold mt-7">
                  Step {{ i === 0 ? "1" : i + 1 }}
                </p>
                <div class="grid grid-cols-12 gap-3 my-4" [formGroupName]="i">
                  <div class="col-span-5">
                    <label class="block pb-1">Approvers
                      <span class="text-xs text-red-400">*</span>
                    </label>
                    <custom-multi-select
                      (checkUsersLength)="countUsers($event, i)"
                      formControlName="approverIds"
                      (approverList)="getApproverList($event, i)"
                    ></custom-multi-select>
                    <span class="text-xs text-red-500" *ngIf="(showError | async) && i">Please select either AND or OR as the condition</span>
                  </div>
                  <div class="col-span-5">
                    <label for="conditionSelect" class="block pb-1">
                      Condition
                      <span class="text-xs text-red-400">*</span>
                    </label>
                    <select
                      (change)="validateSelection(i)"
                      formControlName="condition"
                      class="h-10 form-select form-control"
                      aria-label="Default select example"
                      id="conditionSelect"
                    >
                      <option value="and">AND</option>
                      <option value="or">OR</option>
                      <option value="none">NONE</option>
                    </select>
                  </div>
                  <div class="col-span-1 mt-8 inline-flex">
                    <tui-tooltip
                      [content]="hint"
                      direction="right"
                      class="mr-4 mt-1 -ml-2"
                    ></tui-tooltip>
                    <tui-badged-content
                      [contentTop]="
                        workflows.at(i).get('emailNotifyTo')?.value?.length
                      "
                      [colorTop]="'green'"
                    >
                      <button
                        tuiIconButton
                        type="button"
                        size="s"
                        appearance="outline"
                        icon="tuiIconMailLarge"
                        (click)="openEmailNotifyModal(template, workflows, i)"
                      ></button>
                    </tui-badged-content>
                  </div>
                  <div class="col-span-1 mt-8 -ml-3">
                    <button
                      tuiIconButton
                      type="button"
                      size="s"
                      appearance="secondary-destructive"
                      icon="tuiIconTrash2Large"
                      (click)="removeWorkflowStep(i)"
                    ></button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <button
              tuiIconButton
              type="button"
              size="m"
              appearance="primary"
              icon="tuiIconPlusLarge"
              (click)="addWorkflowStep()"
            ></button>

            <div class="flex justify-end gap-5 mt-5">
              <button
                (click)="previousStep()"
                type="button"
                class="px-4 py-2 text-base font-medium border border-gray-400 rounded-md bg-gray-50"
              >
                Back
              </button>
              <button
                #btn
                (click)="nextStep()"
                type="button"
                class="btn btn-primary"
              >
                Proceed to Module Graphics
              </button>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="activeIndex == 2">
          <label
            (change)="onFileSelect($event)"
            for="dropzone-file"
            class="flex flex-col items-center justify-center w-full h-64 mt-10 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
          >
            <tui-loader
              [inheritColor]="true"
              [size]="'l'"
              [showLoader]="false"
              [overlay]="true"
            >
              <div *ngIf="file" class="flex justify-center">
                <img
                  [src]="
                    base64File
                  "
                  alt="app_icon"
                  width="200"
                  height="200"
                  class="rounded-md"
                />
              </div>
              <div *ngIf="!file" class="flex justify-start">
                <div class="mx-8">
                  <img
                    src="../../../../../assets/windows.svg"
                    width="32"
                    height="32"
                  />
                </div>
                <div class="flex flex-col">
                  <p class="mb-3 text-lg font-semibold text-black">
                    Module Icon
                  </p>
                  <ul class="text-sm text-gray-400 list-disc">
                    <li>Icon should be 1:1 ratio</li>
                    <li>Only (JPEG, PNG, WEBP) extensions are allowed</li>
                    <li>Up to 2MB file size is allowed</li>
                  </ul>
                </div>
              </div>
            </tui-loader>
            <input id="dropzone-file" type="file" class="hidden" />
          </label>

          <div class="flex justify-end gap-5 mt-5">
            <button
              (click)="previousStep()"
              type="button"
              class="px-4 py-2 text-base font-medium border border-gray-400 rounded-md bg-gray-50"
            >
              Back
            </button>
            <button (click)="nextStep()" type="button" class="btn btn-primary">
              {{
                (isCreatingModule | async) ? "Please wait..." : "Publish Module"
              }}
            </button>
          </div>
        </ng-container>

        <ng-container *ngIf="activeIndex == 3">
          <div class="flex flex-col items-center justify-center w-full mt-10">
            <img
              src="../../../../../assets/published.svg"
              alt="ok"
              width="118"
              height="118"
            />
            <p class="my-2 text-lg font-semibold">Congratulations</p>
            <p class="text-base">Your module has been created successfully</p>
          </div>
        </ng-container>
      </form>
    </div>
  </section>
</div>
<app-footer></app-footer>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div
      class="w-full mt-1 text-left fv-plugins-message-container text-xxs 2xl:text-xs"
    >
      <span
        class="text-red-400 fv-help-block text-xxs 2xl:text-xs 2xl:mb-2"
        role="alert"
      >
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>

<ng-template #template>
  <p class="text-lg font-semibold text-center">Email Notification Users</p>
  <p class="mt-3 text-base font-medium text-gray-500">
    Please specify the users you want to send the notification email to
  </p>
  <div class="flex flex-col justify-center my-5">
    <tui-input-tag
      [formControl]="
        currentFieldArray?.controls[activeEmailIndex]?.controls['emailNotifyTo']
      "
      class="b-form"
      [tuiTextfieldLabelOutside]="true"
      (searchChange)="onSearchChange($event)"
    >
      Type to search and press Enter to select...
      <tui-data-list-wrapper
        *tuiDataList
        [items]="userListForEmail"
      ></tui-data-list-wrapper>
    </tui-input-tag>
  </div>
  <div class="flex justify-start gap-x-3">
    <button tuiButton type="button" size="m" (click)="validateEmails()">
      Confirm & Close
    </button>
    <button appearance="accent" tuiButton type="button" size="m" (click)="cancelEmailNotify()">
      Remove Users & Close
    </button>
  </div>
</ng-template>

<ng-template #hint>
  <strong class="text-base">How conditions work?</strong>
  <hr>
  <ul class="mt-2">
    <li><strong>AND</strong> implies that every user of the step must provide approval</li>
    <li class="my-2"><strong>OR</strong> implies that any one of the users may provide approval</li>
    <li><strong>NONE</strong> implies that there is only one user per step and hence no conditon is necessary</li>
  </ul>
</ng-template>
