:host ::ng-deep {
  display: block;
  height: inherit;
  width: inherit;

  .cardContainer {
    height: 100;
    width: 150;
    display: block;
    border-radius: 12px;
    padding: 4px 2px 4px 2px;

    .name {
      font-size: 18px;
    }

    label {
      display: block;
      text-align: center;
      font-size: 14px;
      margin: 4px 0px 2px 0px;
    }
  }

  .linkMidpoint {
    ellipse {
      fill: white;
      stroke: black;
      stroke-width: 1;
    }

    text {
      stroke: transparent;
      fill: black;
      text-anchor: middle;
      font-size: 10px;
    }
  }
}