<div class="px-5 py-4 bg-white rounded-lg shadow-lg">
  <div class="flex items-center justify-center w-full rounded-lg h-72 border border-gray-200 bg-gray-100">
    <img src="../../../assets/icons/icon-512x512.png" alt="side_app_icon" class="w-full h-full object-contain rounded-lg">
  </div>
  <div class="w-full mt-8">
    <h3 class="text-xl mb-2 font-semibold">App title</h3>
      <p class="leading-6 pb-25">
        App description App description App description App description App description App description App description App description 
        App description App description App description App description App description App description App description App description
        App description 
        App description App description App description App description App description App description App description App description 
      </p>
  </div>
</div>