<app-header></app-header>
<section class="w-11/12 h-auto min-h-screen mx-auto mt-52">
  <!--submodule forms-->
  <p class="text-lg font-semibold my-4">Submodule Forms</p>
  <div class="flex flex-col w-full px-5 mt-5 border border-gray-400 border-dashed rounded-md bg-gray-50">
    <section class="flex justify-between w-full my-8">
      <nav
        tuiTabs
        vertical="left"
        class="w-32 mr-5"
      >
        <ng-container *ngFor="let tab of formTabs; let j = index">
          <button (click)="activeIndex = j" tuiTab>{{tab}}</button>
        </ng-container>
      </nav>
      <ng-container *ngFor="let form of formWithWorkflow; let i = index;">
        <div *ngIf="activeIndex == i" class="w-full well jsonviewer">
          <formio [readOnly]="true" [form]="form"></formio>
        </div>
      </ng-container>

    </section>
  </div>

  <!--submodule workflow-->
  <p class="text-lg font-semibold mt-10 mb-5">Submodule Workflow</p>
  <tui-island
    size="l"
    class="w-full my-4 shadow-lg border border-[#F15B41] px-5 mx-auto"
  >
    <h4 class="text-base font-semibold text-gray-700 mb-5">Workflow Steps</h4>
    <tui-carousel
      [draggable]="true"
      [itemsCount]="3"
      [(index)]="carouselIndex"
    >
    <ng-container *ngFor="let item of items; let i = index; let last = last">
      <div *tuiItem class="flex justify-between w-full">
        <div class="text-left bg-gray-50 border border-gray-200 rounded-md py-4 px-4 w-full relative">
          <p class="text-lg text-gray-700 font-semibold mb-2">Step {{ i + 1}}</p>
          <ul class="px-5">
            <li class="list-disc">{{item}}</li>
          </ul>
          <div class="absolute top-0 right-0 bg-green-500 text-white px-2 py-1 text-xxs rounded-r-md rounded-b-none">
            Approved
          </div>
        </div>
        <div class="mt-7 ml-4">
          <i *ngIf="!last" class="fa fa-long-arrow-right fa-lg" aria-hidden="true"></i>
        </div>
      </div>
    </ng-container>
    </tui-carousel>
    <tui-pagination
      class="pagination my-5"
      [length]="items.length - 2"
      size="s"
      [(index)]="carouselIndex"
    ></tui-pagination>

    <!--workflow progress-->
    <!-- <div class="my-12 w-full mr-10 relative">
      <p class="font-semibold text-base mb-4">Workflow Progress</p>
      <progress
        tuiProgressBar
        [max]="100"
        [value]="value"
      ></progress>
      <label
        tuiProgressLabel
        class="absolute top-20"
        [style.left]="value ? value + '%' : '16px'"
      >
        {{value}}%
      </label>
    </div> -->
  </tui-island>
</section>
<app-footer></app-footer>