<div class="w-full h-28 rounded-lg shadow-xl bg-white">
  <div class="flex justify-center items-center space-x-10 h-full cursor-pointer">
    <ng-container *ngFor="let item of menuItems; let i = index;">
      <div (click)="setActive(i)" [ngClass]="item.isActive ? 'bg-[#00A3FF] rounded-lg text-white': 'bg-white text-gray-500'" class="inline-flex px-3 py-3">
        <a class="uppercase text-sm font-semibold mt-0.5">
          <i [class]="item.icon" aria-hidden="true"></i>&nbsp; {{item.name}}
        </a>
      </div>
    </ng-container>
  </div>
</div>