/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap.scss";
$fa-font-path: '~font-awesome/fonts';
@import 'font-awesome/scss/font-awesome';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500&display=swap');

.bg_img_main {
  @apply w-screen bg-[url('src/assets/login_bg.svg')] bg-no-repeat bg-contain bg-bottom h-auto min-h-screen;
}

.btn-primary {
  @apply text-white bg-[#007bff] border-[#007bff];
}

a {
  @apply no-underline;
}

a:hover {
  text-decoration: none!important;
  color: inherit!important;
}

// tui-table-pagination {
//   span[automation-id="tui-table-pagination__lines-per-page-wrapper"].ng-star-inserted {
//     position: relative!important;
//     visibility: hidden!important;
//   }
// }

// tui-table-pagination {
//   span[automation-id="tui-table-pagination__lines-per-page-wrapper"].ng-star-inserted:after {
//     content: "Items per Page"!important;
//     position: absolute!important;
//     visibility: visible!important;
//     left: 0!important;
//     top: 0!important;
//   }
// }

svg {
  overflow: auto!important
}

.btn-secondary {
  color: #fff!important;
  background-color: #6c757d!important;
  border-color: #6c757d!important;
}
