/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

@import "bootstrap/scss/bootstrap.scss";
$fa-font-path: '~font-awesome/fonts';
@import 'font-awesome/scss/font-awesome';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500&display=swap');

.bg_img_main {
  @apply w-screen h-auto min-h-screen;
}

.btn-primary {
  @apply text-white bg-[#007bff] border-[#007bff];
}

a {
  @apply no-underline;
}

a:hover {
  text-decoration: none!important;
  color: inherit!important;
}

.ag-root-wrapper-body.ag-layout-normal {
  flex: 1 1 auto!important;
  height: 100%!important;
  min-height: 200px!important;
}

.ag-overlay {
  height: 100%!important;
  pointer-events: none!important;
  position: relative!important;
  width: 100%!important;
  margin-top: 20px!important;
}

svg {
  overflow: visible!important
}

.btn-secondary {
  color: #fff!important;
  background-color: #6c757d!important;
  border-color: #6c757d!important;
}

.ck.ck-content ul, ol, menu {
  padding: 20px!important;
}

.ck.ck-content h1 {
  font-size: 2.125rem!important;
  font-weight: 600!important;
}

.ck.ck-content h2 {
  font-size: 1.875rem!important;
  font-weight: 600!important;
}

.ck.ck-content h3 {
  font-size: 1.5rem!important;
  font-weight: 600!important;
}

.ck.ck-content h4 {
  font-size: 1.25rem!important;
  font-weight: 500!important;
}
.ck.ck-content h5 {
  font-size: 1.125rem!important;
  font-weight: 500!important;
}

.ck.ck-content h6 {
  font-size: 1rem!important;
  font-weight: 500!important;
}

tui-dialog[data-size=l] {
  width: 75rem!important
}

.ag-header-cell-label {
  font-size: 16px!important;
  cursor: pointer!important;
}

.ag-cell {
  border: none!important;
}