<nav class="bg-[#2F3044] fixed w-full z-40 top-0 left-0 border-b border-gray-200 shadow-md">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <img ngSrc="../../../assets/depa_logo.svg" width="40" height="37">
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col px-4 py-2 font-medium rounded-lg md:flex-row md:space-x-6">
        <li>
          <a [routerLink]="['/dashboard/home']" routerLinkActive="router-link-active"
            class="block py-2 px-4 text-white no-underline hover:text-gray-100">Home</a>
        </li>
        <li>
          <a [routerLink]="['/dashboard/publish-app']" routerLinkActive="router-link-active"
            class="block py-2 px-4 text-white no-underline hover:text-gray-100">Create Module</a>
        </li>
        <li>
          <a [routerLink]="['/dashboard/dummy-workflow']" routerLinkActive="router-link-active" class="block py-2 text-white px-4 no-underline hover:text-gray-100">Dummy Workflow</a>
        </li>
        <li>
          <a class="block py-2 text-white px-4 no-underline hover:text-gray-100">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<tui-breadcrumbs size="l"
  class="text-[#9a9ba3] fixed w-full z-30 shadow-md border-b-2 border-b-gray-300 bg-white px-5 tui-space_bottom-3 top-20 py-10">
  <ng-container *ngFor="let item of dashboardService.items; let i = index;">
    <a *tuiItem tuiLink [routerLink]="item.routerLink" class="hover:text-[#76777f]">
      {{ item.caption }}
    </a>
  </ng-container>
</tui-breadcrumbs>