<nav class="bg-[#2F3044] fixed w-full z-40 top-0 left-0 border-b border-gray-200 shadow-md">
  <div class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto">
    <img ngSrc="../../../assets/depa_logo.svg" width="40" height="36">
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col px-4 py-2 font-medium rounded-lg md:flex-row md:space-x-6">
        <li class="mt-2">
          <a [routerLink]="['/dashboard/home']" routerLinkActive="router-link-active"
            class="block px-4 py-2 text-white no-underline hover:text-gray-100">Home</a>
        </li>
        <li class="mt-2">
          <a [routerLink]="['/dashboard/create-edit-module']" routerLinkActive="router-link-active"
            class="block px-4 py-2 text-white no-underline hover:text-gray-100">Create Module</a>
        </li>
        <li *ngIf="currentUser?.role == 'admin'" class="mt-2">
          <a [routerLink]="['/dashboard/categories']" routerLinkActive="router-link-active" class="block px-4 py-2 text-white no-underline hover:text-gray-100">Categories</a>
        </li>
        <li *ngIf="currentUser?.role == 'admin'" class="mt-2">
          <a [routerLink]="['/dashboard/users']" routerLinkActive="router-link-active" class="block px-4 py-2 text-white no-underline hover:text-gray-100">Users</a>
        </li>
        <li class="mt-2">
          <a (click)="logoutSession()" class="block py-2 text-white px-4 no-underline bg-[#cf2729] rounded-lg hover:text-gray-100 cursor-pointer">
            <i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp; Logout
          </a>
        </li>
        <li>
          <tui-avatar
            [text]="currentUser?.fullName"
            [tuiHint]="tooltip"
            size="m"
            [rounded]="true"
          ></tui-avatar>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="fixed z-30 flex justify-between w-full px-5 pt-2 mt-8 bg-white border-b-2 shadow-md border-b-gray-300 top-16">
  <tui-breadcrumbs size="l"
    class="text-[#9a9ba3] tui-space_bottom-3">
    <ng-container *ngFor="let item of dashboardService.items; let i = index; let last = last">
      <ng-container *ngIf="i == 0 || dashboardService.items?.length == 0">
        <a *tuiItem tuiLink [routerLink]="['/dashboard/home']" class="hover:text-[#76777f]">
          <i class="fa fa-home fa-lg" aria-hidden="true"></i>
        </a>
      </ng-container>
      <ng-container *ngIf="item.caption !== 'Dashboard' && item.caption !== 'Home'">
        <a *tuiItem tuiLink [routerLink]="item.routerLink" class="hover:text-[#76777f]">
          {{ item.caption }}
        </a>
      </ng-container>
    </ng-container>
  </tui-breadcrumbs>
  <!-- <p *ngIf="currentRoute !== '/dashboard/home'" (click)="nav.goBack()" class="text-[#9a9ba3] font-semibold px-4 my-2 cursor-pointer">
    <i class="font-semibold fa fa-angle-left" aria-hidden="true"></i>&nbsp; Go to previous page
  </p> -->
</div>

<ng-template #tooltip>
  <p>{{currentUser?.fullName}} is logged in</p>
</ng-template>
