<app-header></app-header>
<div class="bg_img_main">
  <section class="w-11/12 mx-auto mt-52 pb-60">
    <div class="flex justify-end mb-5">
      <div class="cursor-pointer">
        <a (click)="showDialog(template, null)" class="px-4 py-2 rounded-lg bg-[#a58f81] text-white no-underline hover:text-white text-sm">+ Add company</a>
      </div>
    </div>
    <div class="flex flex-col">
      <ag-grid-angular
        class="w-full h-full overflow-hidden ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [pagination]="true"
        [paginationPageSize]="10"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
  </section>
</div>

<app-footer></app-footer>

<ng-template #template let-observer>
  <p class="text-lg font-semibold text-center">
    Add Company
  </p>

  <div class="flex flex-col justify-center my-5">
    <label class="block">Company Name <sup class="text-red-500">*</sup></label>
    <input [formControl]="categoryEditControl" class="mb-1 form-control">
    <span *ngIf="categoryEditControl?.hasError('required') && categoryEditControl?.dirty" class="text-xs text-red-500">
      Company name is required
    </span>
    <span class="text-xs text-red-500"
      *ngIf="categoryEditControl?.hasError('codeExists')">
      A company with this name already exists. Please provide another name.
    </span>
  </div>
  <div class="flex flex-col justify-center my-5">
    <label class="block">Group Code<sup class="text-red-500">*</sup></label>
    <input [formControl]="groupCodeControl" class="mb-1 form-control">
    <span *ngIf="groupCodeControl?.hasError('required') && groupCodeControl?.dirty" class="text-xs text-red-500">
      Group Code is required
    </span>
    <span *ngIf="groupCodeControl?.hasError('minlength') && groupCodeControl?.dirty" class="text-xs text-red-500">
      Group Code should be at least 3 characters
    </span>
    <span *ngIf="groupCodeControl?.hasError('maxlength') && groupCodeControl?.dirty" class="text-xs text-red-500">
      Group Code should not exceed 4 characters
    </span>
    <span *ngIf="groupCodeControl?.hasError('codeExists')" class="text-xs text-red-500">
      A company with this code already exists. Please provide a different code.
    </span>
  </div>
  <div class="flex justify-center gap-x-3">
    <button
    tuiButton
    type="button"
    size="m"
    (click)="editOrAddCompany();"
    >
    Add
  </button>
  <button
    tuiButton
    type="button"
    size="m"
    appearance="accent"
    (click)="observer.complete(); categoryEditControl.reset(); groupCodeControl.reset(); categoryId = null"
    >
    Cancel
  </button>
  </div>
</ng-template>
